workflows/.json
{"updatedAt":"2025-11-29T22:11:20.795Z","createdAt":"2025-11-28T19:30:38.999Z","id":"KZ2xBfj0glzjOEit","name":"Backup GitHub","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":24}]}},"id":"eee56b57-b618-46a8-9919-1840628f3bbd","name":"Todo dia","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-368,288]},{"parameters":{"command":"mkdir -p /home/node/backup/workflows && rm -rf /home/node/backup/workflows/*"},"id":"7d78e838-80e3-4129-800a-d5e930b724cb","name":"Limpar Pasta Antiga","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-160,288]},{"parameters":{"filters":{},"requestOptions":{}},"id":"d952ba85-8572-411b-87dc-3754082171b5","name":"Pegar Todos Fluxos","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[80,288],"credentials":{"n8nApi":{"id":"6tHnIWphQmxEegRm","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{$json.name.replace(/[^a-z0-9]/gi, '_').toLowerCase()}}.json"}},"id":"a3d5e3bb-81bf-4ee0-bc08-16e3c5fb6eb5","name":"Converter em Arquivo","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[288,288]},{"parameters":{"fileName":"=/home/node/backup/workflows/{{$json.name.replace(/[^a-z0-9]/gi, '_').toLowerCase()}}.json","options":{}},"id":"ceed084e-23ae-4806-8133-9eaf50aceaa8","name":"Salvar no Disco","type":"n8n-nodes-base.writeBinaryFile","typeVersion":1,"position":[512,288]},{"parameters":{"command":"cd /home/node/backup && git add . && git commit -m \"Backup Automatico $(date)\" && git push"},"id":"743de240-ed94-4333-b9cb-491c0501c536","name":"Enviar pro GitHub","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[736,288]}],"connections":{"Todo dia":{"main":[[{"node":"Limpar Pasta Antiga","type":"main","index":0}]]},"Limpar Pasta Antiga":{"main":[[{"node":"Pegar Todos Fluxos","type":"main","index":0}]]},"Pegar Todos Fluxos":{"main":[[{"node":"Converter em Arquivo","type":"main","index":0}]]},"Converter em Arquivo":{"main":[[{"node":"Salvar no Disco","type":"main","index":0}]]},"Salvar no Disco":{"main":[[{"node":"Enviar pro GitHub","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Todo dia":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f33825d2-7e3b-4373-a948-e5631717c814","triggerCount":1,"shared":[{"updatedAt":"2025-11-28T19:30:38.999Z","createdAt":"2025-11-28T19:30:38.999Z","role":"workflow:owner","workflowId":"KZ2xBfj0glzjOEit","projectId":"5OFwUiu2XaJEkX8v"}],"tags":[]}