workflows/agente_saas__multi_agendas____vip_id.json
{"updatedAt":"2025-12-02T12:43:05.244Z","createdAt":"2025-11-28T01:31:35.715Z","id":"jMgKKjRogYcjJJ3b","name":"Agente SaaS (Multi-Agendas) - VIP ID","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## 1. Identificação (Multi-tenant)\nRecebe a mensagem e consulta no Banco de Dados quem é o dono dessa instância. O banco retorna:\n- Prompt do Sistema\n- ID da Planilha\n- **Lista de Agendas (JSON)**","height":348,"width":685,"color":5},"id":"d464a8af-76ff-4bda-9e11-3eb737cc1656","name":"Nota Identificacao","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5792,-224]},{"parameters":{"content":"## 2. Gestão de Planilha\nUsa o ID da planilha vindo do banco para verificar se o cliente existe e salvar novos contatos.","height":348,"width":782,"color":3},"id":"2d346375-4de3-48f6-ade0-319f1c59ca61","name":"Nota Planilha","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5040,-224]},{"parameters":{"content":"## 3. Roteamento & Áudio\nSepara texto de áudio. Se for áudio, baixa da Evolution (usando a instância dinâmica) e transcreve.","height":451,"width":1133,"color":4},"id":"5693fd2f-7d97-4fe0-b9e7-98671cf89143","name":"Nota Audio","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4160,-256]},{"parameters":{"content":"## 4. Fila de Mensagens (Redis)\nEvita conflito de mensagens simultâneas.","height":579,"width":2045,"color":2},"id":"7e1120a9-837e-41dd-966a-f94c67148c53","name":"Nota Fila","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2976,-304]},{"parameters":{"content":"## 5. Cérebro Multi-Agenda 🧠\nO Prompt recebe a lista de médicos do banco.\n\nA ferramenta **Google Calendar** usa a função `$fromAI` no campo Calendar ID. Isso força a IA a escolher qual e-mail usar baseada na conversa e na lista fornecida.","height":716,"width":1025},"id":"c2f14865-7982-42b2-be83-6e6c8951de55","name":"Nota Cerebro","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-832,-336]},{"parameters":{"httpMethod":"POST","path":"f256f04a-1382-44eb-b8b3-64b0c51d2a48","options":{}},"id":"db335f46-4fb7-42f5-8414-884585dae895","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-5744,-16],"webhookId":"f256f04a-1382-44eb-b8b3-64b0c51d2a48"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM clientes WHERE instance_name = $1","options":{"queryReplacement":"={{ $('Webhook').item.json.body.instance }}"}},"id":"2bdd1d4f-4337-44ba-abac-0bfc2a4c5f68","name":"Busca Cliente no Banco","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-5536,-32],"credentials":{"postgres":{"id":"MY2N95aYUWR6kF9X","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"nome","name":"Nome","value":"={{ $('Webhook').item.json.body.data.pushName }}","type":"string"},{"id":"telefone","name":"Telefone","value":"={{\n  (\n    ($('Webhook').item.json.body.data.key.remoteJid && $('Webhook').item.json.body.data.key.remoteJid.includes('@s.whatsapp.net')) ? $('Webhook').item.json.body.data.key.remoteJid :\n    ($('Webhook').item.json.body.data.key.remoteJidAlt && $('Webhook').item.json.body.data.key.remoteJidAlt.includes('@s.whatsapp.net')) ? $('Webhook').item.json.body.data.key.remoteJidAlt :\n    $('Webhook').item.json.body.data.key.participant\n  )\n  .replace(\"@s.whatsapp.net\", \"\")\n  .replace(\"@lid\", \"\")\n  .replace(/^55(\\d{2})(\\d{8})$/, \"55$19$2\")\n}}","type":"string"},{"id":"tipo","name":"tipoMensagem","value":"={{ $('Webhook').item.json.body.data.messageType }}","type":"string"},{"id":"fromMe","name":"fromMe","value":"={{ $('Webhook').item.json.body.data.key.fromMe }}","type":"string"},{"id":"bloqueio","name":"bloquearAgente","value":"=BloquearAgente_{{ $json.Telefone }}","type":"string"},{"id":"msg","name":"Mensagem","value":"={{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"},{"id":"msgPicotada","name":"msgPicotada","value":"=MensagemPicotada_{{ $('Webhook').item.json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"id":"4a7ec870-2b6e-42b0-8d15-16ac566d1fcc","name":"Formatar Dados","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5296,-80]},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('Busca Cliente no Banco').item.json.spreadsheet_id }}","mode":"expression"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pacientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16-380BC81KxckZGpYEvlgp0sCG5oTsgE6WCYfmsQS8I/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"telefone","lookupValue":"={{ $json.Telefone }}"}]},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"A:B"}}}},"id":"6bad9199-15f2-4548-b1c4-36286d08d080","name":"Ler Planilha","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-4976,-144],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"VXGldHC2qtY6Hout","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"exists","leftValue":"={{ $json.telefone }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"6acd480a-7f39-4f53-8d2c-726320c7b57c","name":"Cliente Existe?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4752,-144]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('Busca Cliente no Banco').item.json.spreadsheet_id }}","mode":"expression"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pacientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16-380BC81KxckZGpYEvlgp0sCG5oTsgE6WCYfmsQS8I/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"nome":"={{ $json.nome }}","telefone":"={{ $json.telefone }}"},"matchingColumns":[],"schema":[{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"470341b7-89bb-478e-a0b1-8d4ec4a743a5","name":"Salvar Novo Cliente","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-4512,-32],"credentials":{"googleSheetsOAuth2Api":{"id":"VXGldHC2qtY6Hout","name":"Google Sheets account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Formatar Dados').item.json.tipoMensagem }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Formatar Dados').item.json.tipoMensagem }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"}]},"options":{}},"id":"7526b450-071d-484b-b81a-3d5355011750","name":"Texto ou Audio?","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-4256,-128]},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body.instance }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}"},"id":"c125a74c-4ab1-4432-ba17-9c918c6b4009","name":"Baixar Audio (Evolution)","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-4080,-32],"credentials":{"evolutionApi":{"id":"zRiDTyzgjjIp1xJ5","name":"Evolution account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{"fileName":"audio.mp3"}},"id":"43118f70-55c5-4dcb-ac2b-ace0e9ae65c5","name":"Converter Audio","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-3856,-32]},{"parameters":{"resource":"audio","modelId":{"__rl":true,"value":"models/gemini-flash-latest","mode":"list","cachedResultName":"models/gemini-flash-latest"},"inputType":"binary","options":{}},"id":"4817576b-a5c8-4052-b05c-bcee72d5b293","name":"Transcrever (Gemini)","type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-3632,-32],"credentials":{"googlePalmApi":{"id":"OWnToAvs0aO5z6W1","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"textoAudio","name":"mensagemAudioemTexto","value":"={{ $json.text || $('Formatar Dados').item.json.Mensagem }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"6da94b28-c60d-4285-a29f-1eb56095a7e3","name":"Salvar Transcricao","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3408,-144]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fromMeCheck","leftValue":"={{ $('Formatar Dados').item.json.fromMe }}","rightValue":"{{ true }}","operator":{"type":"string","operation":"equal"}},{"id":"bot_phrase_1","leftValue":"={{ $('Formatar Dados').item.json.Mensagem }}","rightValue":"assistente virtual","operator":{"type":"string","operation":"contains"}},{"id":"bot_phrase_2","leftValue":"={{ $('Formatar Dados').item.json.Mensagem }}","rightValue":"*Nome completo","operator":{"type":"string","operation":"contains"}},{"id":"bot_phrase_3","leftValue":"={{ $('Formatar Dados').item.json.Mensagem }}","rightValue":"1. *","operator":{"type":"string","operation":"contains"}},{"id":"telefone_vip","leftValue":"={{ $('Formatar Dados').item.json.Telefone }}","rightValue":"556798129001","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"id":"92ade8c7-44a6-4de0-aba9-622b2773717b","name":"Sou eu mesmo?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3200,-144]},{"parameters":{"operation":"set","key":"={{ $('Formatar Dados').item.json.bloquearAgente }}","value":"true","expire":true},"id":"0c791548-4331-4bfc-85b5-603d62fde5b7","name":"Bloquear Bot","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2912,-208],"credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}},{"parameters":{"operation":"keys","keyPattern":"={{ $('Formatar Dados').item.json.bloquearAgente }}"},"id":"0092c652-bf16-4d47-8195-df27a9037fe0","name":"Verificar Bloqueio","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2688,-96],"credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"isBlocked","leftValue":"={{ $json.BloquearAgente }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"5613a942-c148-485b-acdd-3e25e81f5df2","name":"Bot Bloqueado?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2448,-96]},{"parameters":{},"id":"8de005a0-5417-422c-95ff-0b85142e7b5a","name":"Parar Fluxo","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2240,-256]},{"parameters":{"assignments":{"assignments":[{"id":"unir","name":"mensagemAudioMaisTexto","value":"={{ $('Formatar Dados').item.json.Mensagem }}{{ $('Salvar Transcricao').item.json.mensagemAudioemTexto }}","type":"string"}]},"options":{}},"id":"eeaae5fb-1b97-4152-b0d1-6b99f5ffc37a","name":"Unir Texto/Audio","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2240,-16]},{"parameters":{"operation":"push","list":"={{ $('Formatar Dados').item.json.msgPicotada }}","messageData":"={{ $json.mensagemAudioMaisTexto }}","tail":true},"id":"a2c0a78d-4793-450c-8637-9c90bc718d55","name":"Adicionar na Fila","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1808,-16],"credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}},{"parameters":{},"id":"08fa1974-94c5-4594-a90f-7c7b03393fa8","name":"Espera 1s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1584,-16],"webhookId":"45086d60-e330-4209-8512-7afeb97e72cf"},{"parameters":{"operation":"get","key":"={{ $('Formatar Dados').item.json.msgPicotada }}","options":{}},"id":"3f175acf-688b-47bf-8f52-1c0a9e91b9ce","name":"Ler Fila Completa","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1360,-16],"credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"={{ $('Formatar Dados').item.json.msgPicotada }}"},"id":"2b9f08b9-a12d-4f63-ab1f-6282f9a9e8a6","name":"Limpar Fila","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1152,-16],"credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"prep","name":"toString","value":"={{ $('Ler Fila Completa').item.json.propertyName.toJsonString() }}","type":"string"}]},"options":{}},"id":"142ed9bf-c9e2-4429-864d-53b3d307ca67","name":"Preparar p/ IA","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-928,-16]},{"parameters":{"modelName":"models/gemini-flash-latest","options":{}},"id":"78d64329-9642-423f-ab60-f2aa82174059","name":"Modelo (Gemini)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-400,208],"credentials":{"googlePalmApi":{"id":"OWnToAvs0aO5z6W1","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Busca Cliente no Banco').item.json.instance_name }}_{{ $('Formatar Dados').item.json.Telefone }}"},"id":"e041bc4d-c040-4b29-9237-0d83ca2beb7e","name":"Memoria (Redis)","type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[-272,208],"credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}},{"parameters":{"calendar":{"__rl":true,"value":"={{ $fromAI('calendarId', 'O ID (email) do calendario do medico escolhido. Consulte a lista no prompt do sistema.', 'string') }}","mode":"expression"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","useDefaultReminders":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}","additionalFields":{"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `Coloque qual o nome do paciente, a data de nascimento, o telefone dele (busque no RemotId) e o médico responsável da consulta.`, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `Coloque apenas o nome do paciente, o horário de agendamento e o médico que fará a consulta.`, 'string') }}"}},"id":"23081a9b-96cb-42ef-ae5a-2da659fe05d8","name":"Google Calendar Tool","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-128,208],"credentials":{"googleCalendarOAuth2Api":{"id":"AOWDxaL3CheNb2v5","name":"Google Calendar account"}}},{"parameters":{"promptType":"define","text":"={{ $json.toString }}","options":{"systemMessage":"=Data e Hora atual: {{ $now.setZone('America/Campo_Grande').format('DD/MM/YYYY HH:mm') }}\n\n{{ $('Busca Cliente no Banco').item.json.system_prompt }}\n\n[DADOS DO CLIENTE]\nLista de Médicos e suas Agendas:\n{{ $('Busca Cliente no Banco').item.json.calendar_id }}"}},"id":"24cfc508-df72-4d05-817c-35a08c2b3a18","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-304,-16]},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Webhook').item.json.body.instance }}","remoteJid":"={{ $('Formatar Dados').item.json.Telefone }}","messageText":"={{ $json.output }}","options_message":{}},"id":"ddac667a-9ba0-4f1e-8850-bbd9c3af253d","name":"Enviar Resposta (Evolution)","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[64,-16],"credentials":{"evolutionApi":{"id":"zRiDTyzgjjIp1xJ5","name":"Evolution account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"34001cc2-45e4-4fd7-937c-4b587b5753b3","leftValue":"={{ $json.mensagemAudioMaisTexto }}","rightValue":"humano","operator":{"type":"string","operation":"contains"}},{"id":"f20fc6b0-8366-42c1-af49-1c70c680c6e3","leftValue":"={{ $json.mensagemAudioMaisTexto }}","rightValue":"atendente","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2032,-16],"id":"0e59c0c6-fcd2-44c1-ba38-be38af8ad5a8","name":"Pediu Humano?\""},{"parameters":{"operation":"delete","key":"MensagemPicotada_556798129001@s.whatsapp.net"},"id":"ead5e0e8-7d50-4d03-975a-7ec2efaa4339","name":"Limpar Loop (Manual)","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-928,-256],"credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}}],"connections":{"Webhook":{"main":[[{"node":"Busca Cliente no Banco","type":"main","index":0}]]},"Busca Cliente no Banco":{"main":[[{"node":"Formatar Dados","type":"main","index":0}]]},"Formatar Dados":{"main":[[{"node":"Ler Planilha","type":"main","index":0}]]},"Ler Planilha":{"main":[[{"node":"Cliente Existe?","type":"main","index":0}]]},"Cliente Existe?":{"main":[[{"node":"Texto ou Audio?","type":"main","index":0}],[{"node":"Salvar Novo Cliente","type":"main","index":0}]]},"Salvar Novo Cliente":{"main":[[{"node":"Texto ou Audio?","type":"main","index":0}]]},"Texto ou Audio?":{"main":[[{"node":"Salvar Transcricao","type":"main","index":0}],[{"node":"Baixar Audio (Evolution)","type":"main","index":0}]]},"Baixar Audio (Evolution)":{"main":[[{"node":"Converter Audio","type":"main","index":0}]]},"Converter Audio":{"main":[[{"node":"Transcrever (Gemini)","type":"main","index":0}]]},"Transcrever (Gemini)":{"main":[[{"node":"Salvar Transcricao","type":"main","index":0}]]},"Salvar Transcricao":{"main":[[{"node":"Sou eu mesmo?","type":"main","index":0}]]},"Sou eu mesmo?":{"main":[[{"node":"Bloquear Bot","type":"main","index":0}],[{"node":"Verificar Bloqueio","type":"main","index":0}]]},"Bloquear Bot":{"main":[[{"node":"Verificar Bloqueio","type":"main","index":0}]]},"Verificar Bloqueio":{"main":[[{"node":"Bot Bloqueado?","type":"main","index":0}]]},"Bot Bloqueado?":{"main":[[{"node":"Parar Fluxo","type":"main","index":0}],[{"node":"Unir Texto/Audio","type":"main","index":0}]]},"Unir Texto/Audio":{"main":[[{"node":"Pediu Humano?\"","type":"main","index":0}]]},"Adicionar na Fila":{"main":[[{"node":"Espera 1s","type":"main","index":0}]]},"Espera 1s":{"main":[[{"node":"Ler Fila Completa","type":"main","index":0}]]},"Ler Fila Completa":{"main":[[{"node":"Limpar Fila","type":"main","index":0}]]},"Limpar Fila":{"main":[[{"node":"Preparar p/ IA","type":"main","index":0}]]},"Preparar p/ IA":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Modelo (Gemini)":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Memoria (Redis)":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Google Calendar Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Enviar Resposta (Evolution)","type":"main","index":0}]]},"Pediu Humano?\"":{"main":[[{"node":"Bloquear Bot","type":"main","index":0}],[{"node":"Adicionar na Fila","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a0d370b7-2f3f-44fa-a692-f64929866c0f","triggerCount":1,"shared":[{"updatedAt":"2025-11-28T01:31:35.715Z","createdAt":"2025-11-28T01:31:35.715Z","role":"workflow:owner","workflowId":"jMgKKjRogYcjJJ3b","projectId":"5OFwUiu2XaJEkX8v"}],"tags":[],"safeFileName":"agente_saas__multi_agendas____vip_id.json"}