workflows/agente_saas__multi_agendas____blindado.json
{"updatedAt":"2025-12-02T03:21:27.071Z","createdAt":"2025-11-28T01:31:35.715Z","id":"jMgKKjRogYcjJJ3b","name":"Agente SaaS (Multi-Agendas) - BLINDADO","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## 1. Identificação (Multi-tenant)\nRecebe a mensagem e consulta no Banco de Dados quem é o dono dessa instância. O banco retorna:\n- Prompt do Sistema\n- ID da Planilha\n- **Lista de Agendas (JSON)**","height":348,"width":685,"color":5},"id":"e5cbd0a5-5583-47bb-b82a-b1818744c9c2","name":"Nota Identificacao","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5600,0]},{"parameters":{"content":"## 2. Gestão de Planilha\nUsa o ID da planilha vindo do banco para verificar se o cliente existe e salvar novos contatos.","height":348,"width":782,"color":3},"id":"4df18602-9a6a-4c21-b6fe-750b73611105","name":"Nota Planilha","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4848,0]},{"parameters":{"content":"## 3. Roteamento & Áudio\nSepara texto de áudio. Se for áudio, baixa da Evolution (usando a instância dinâmica) e transcreve.","height":451,"width":1133,"color":4},"id":"7dde6b3f-d047-423c-9e40-282e51d4091c","name":"Nota Audio","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3968,-32]},{"parameters":{"content":"## 4. Fila de Mensagens (Redis)\nEvita conflito de mensagens simultâneas.","height":579,"width":2045,"color":2},"id":"acd1eb2f-83e1-46fd-81ed-efce79ef8147","name":"Nota Fila","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2784,-80]},{"parameters":{"content":"## 5. Cérebro Multi-Agenda 🧠\nO Prompt recebe a lista de médicos do banco.\n\nA ferramenta **Google Calendar** usa a função `$fromAI` no campo Calendar ID. Isso força a IA a escolher qual e-mail usar baseada na conversa e na lista fornecida.","height":716,"width":1025},"id":"a50d771a-5799-4f3d-b98b-30b4135eac75","name":"Nota Cerebro","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-640,-112]},{"parameters":{"httpMethod":"POST","path":"f256f04a-1382-44eb-b8b3-64b0c51d2a48","options":{}},"id":"ede3e9a9-2204-4fe6-b651-7172e02fbb69","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-5552,208],"webhookId":"f256f04a-1382-44eb-b8b3-64b0c51d2a48"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM clientes WHERE instance_name = $1","options":{"queryReplacement":"={{ $('Webhook').item.json.body.instance }}"}},"id":"da7c8dac-ca87-4a96-8830-dad7869d1f9c","name":"Busca Cliente no Banco","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-5344,192],"credentials":{"postgres":{"id":"MY2N95aYUWR6kF9X","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"nome","name":"Nome","value":"={{ $('Webhook').item.json.body.data.pushName }}","type":"string"},{"id":"telefone","name":"Telefone","value":"={{\n  (\n    ($('Webhook').item.json.body.data.key.remoteJid && $('Webhook').item.json.body.data.key.remoteJid.includes('@s.whatsapp.net')) ? $('Webhook').item.json.body.data.key.remoteJid :\n    ($('Webhook').item.json.body.data.key.remoteJidAlt && $('Webhook').item.json.body.data.key.remoteJidAlt.includes('@s.whatsapp.net')) ? $('Webhook').item.json.body.data.key.remoteJidAlt :\n    $('Webhook').item.json.body.data.key.participant\n  )\n  .replace(\"@s.whatsapp.net\", \"\")\n  .replace(\"@lid\", \"\")\n  .replace(/^55(\\d{2})(\\d{8})$/, \"55$19$2\")\n}}","type":"string"},{"id":"tipo","name":"tipoMensagem","value":"={{ $('Webhook').item.json.body.data.messageType }}","type":"string"},{"id":"fromMe","name":"fromMe","value":"={{ $('Webhook').item.json.body.data.key.fromMe }}","type":"string"},{"id":"bloqueio","name":"bloquearAgente","value":"=BloquearAgente_{{ $json.Telefone }}","type":"string"},{"id":"msg","name":"Mensagem","value":"={{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"},{"id":"msgPicotada","name":"msgPicotada","value":"=MensagemPicotada_{{ $('Webhook').item.json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"id":"a980f16b-1e9d-410e-96b7-dfce638f3c95","name":"Formatar Dados","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5104,144]},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('Busca Cliente no Banco').item.json.spreadsheet_id }}","mode":"expression"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pacientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16-380BC81KxckZGpYEvlgp0sCG5oTsgE6WCYfmsQS8I/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"telefone","lookupValue":"={{ $json.Telefone }}"}]},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"A:B"}}}},"id":"1dd75897-d2ef-4865-a6dc-9e7389be92de","name":"Ler Planilha","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-4784,80],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"VXGldHC2qtY6Hout","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"exists","leftValue":"={{ $json.telefone }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"60157ca5-f403-4ea9-a055-da75429b46eb","name":"Cliente Existe?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4560,80]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('Busca Cliente no Banco').item.json.spreadsheet_id }}","mode":"expression"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pacientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16-380BC81KxckZGpYEvlgp0sCG5oTsgE6WCYfmsQS8I/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"nome":"={{ $json.nome }}","telefone":"={{ $json.telefone }}"},"matchingColumns":[],"schema":[{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"cb1d0597-9d27-4e53-b7cc-5857c2fbf24e","name":"Salvar Novo Cliente","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-4320,192],"credentials":{"googleSheetsOAuth2Api":{"id":"VXGldHC2qtY6Hout","name":"Google Sheets account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Formatar Dados').item.json.tipoMensagem }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Formatar Dados').item.json.tipoMensagem }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"}]},"options":{}},"id":"31176fd1-d135-4794-bd89-73232e8e1438","name":"Texto ou Audio?","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-4064,96]},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body.instance }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}"},"id":"93f3324f-b9f9-411b-895a-886a95e86865","name":"Baixar Audio (Evolution)","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3888,192],"credentials":{"evolutionApi":{"id":"zRiDTyzgjjIp1xJ5","name":"Evolution account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{"fileName":"audio.mp3"}},"id":"cad74b6d-adc4-42fc-9476-38693fa84701","name":"Converter Audio","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-3664,192]},{"parameters":{"resource":"audio","modelId":{"__rl":true,"value":"models/gemini-flash-latest","mode":"list","cachedResultName":"models/gemini-flash-latest"},"inputType":"binary","options":{}},"id":"7cda2196-caf9-4b76-89a2-da7b95f77373","name":"Transcrever (Gemini)","type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-3440,192],"credentials":{"googlePalmApi":{"id":"OWnToAvs0aO5z6W1","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"textoAudio","name":"mensagemAudioemTexto","value":"={{ $json.text || $('Formatar Dados').item.json.Mensagem }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"ad639562-418e-4681-954a-69731e7112a5","name":"Salvar Transcricao","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3216,80]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fromMeCheck","leftValue":"={{ $('Formatar Dados').item.json.fromMe }}","rightValue":"{{ true }}","operator":{"type":"string","operation":"equal"}},{"id":"21191332-037b-4e93-b748-5c19920e604c","leftValue":"={{ $('Formatar Dados').item.json.Mensagem }}","rightValue":"*Nome completo","operator":{"type":"string","operation":"contains"}},{"id":"assistente","leftValue":"={{ $('Formatar Dados').item.json.Mensagem }}","rightValue":"assistente virtual","operator":{"type":"string","operation":"contains"}},{"id":"nova_data","leftValue":"={{ $('Formatar Dados').item.json.Mensagem }}","rightValue":"*NOVA DATA","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"id":"e759dc2c-5fb4-42c5-bc09-1d803903df79","name":"Sou eu mesmo?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3008,80]},{"parameters":{"operation":"set","key":"={{ $('Formatar Dados').item.json.bloquearAgente }}","value":"true","expire":true},"id":"063b237d-1071-400a-9fdf-7810c03c3af0","name":"Bloquear Bot","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2720,16],"credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}},{"parameters":{"operation":"keys","keyPattern":"={{ $('Formatar Dados').item.json.bloquearAgente }}"},"id":"960991b4-87a4-4d28-84f6-1b4a0e884b93","name":"Verificar Bloqueio","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2496,128],"credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"isBlocked","leftValue":"={{ $json.BloquearAgente }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"b425db8d-a046-490d-950c-c59b1c790fc0","name":"Bot Bloqueado?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2256,128]},{"parameters":{},"id":"78d2e5c1-95c3-45e2-9993-baaddd0ddfb5","name":"Parar Fluxo","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2048,-32]},{"parameters":{"assignments":{"assignments":[{"id":"unir","name":"mensagemAudioMaisTexto","value":"={{ $('Formatar Dados').item.json.Mensagem }}{{ $('Salvar Transcricao').item.json.mensagemAudioemTexto }}","type":"string"}]},"options":{}},"id":"ebfe73b7-e867-46be-8f03-c4534c198529","name":"Unir Texto/Audio","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2048,208]},{"parameters":{"operation":"push","list":"={{ $('Formatar Dados').item.json.msgPicotada }}","messageData":"={{ $json.mensagemAudioMaisTexto }}","tail":true},"id":"71f2f61c-65dd-4f07-84a9-154bf669cee2","name":"Adicionar na Fila","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1616,208],"credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}},{"parameters":{},"id":"d71363c6-92de-4320-815c-83beb6101c6d","name":"Espera 1s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1392,208],"webhookId":"45086d60-e330-4209-8512-7afeb97e72cf"},{"parameters":{"operation":"get","key":"={{ $('Formatar Dados').item.json.msgPicotada }}","options":{}},"id":"4c451d57-780b-4e5a-858b-2deeaf4ac78b","name":"Ler Fila Completa","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1168,208],"credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"={{ $('Formatar Dados').item.json.msgPicotada }}"},"id":"ebbed448-9a33-417c-92d9-d09e71e74799","name":"Limpar Fila","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-960,208],"credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"prep","name":"toString","value":"={{ $('Ler Fila Completa').item.json.propertyName.toJsonString() }}","type":"string"}]},"options":{}},"id":"3fba8ccb-bdc4-4a6e-8a57-3a1053bd72a8","name":"Preparar p/ IA","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-736,208]},{"parameters":{"modelName":"models/gemini-flash-latest","options":{}},"id":"dccf3fc4-8623-4369-9500-e4f9e0871acb","name":"Modelo (Gemini)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-208,432],"credentials":{"googlePalmApi":{"id":"OWnToAvs0aO5z6W1","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Busca Cliente no Banco').item.json.instance_name }}_{{ $('Formatar Dados').item.json.Telefone }}-batata"},"id":"12f52d74-a4dd-4c43-8f7e-5e52fcdcd3c0","name":"Memoria (Redis)","type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[-80,432],"credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}},{"parameters":{"calendar":{"__rl":true,"value":"={{ $fromAI('calendarId', 'O ID (email) do calendario do medico escolhido. Consulte a lista no prompt do sistema.', 'string') }}","mode":"expression"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","useDefaultReminders":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}","additionalFields":{"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `Coloque qual o nome do paciente, a data de nascimento, o telefone dele (busque no RemotId) e o médico responsável da consulta.`, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `Coloque apenas o nome do paciente, o horário de agendamento e o médico que fará a consulta.`, 'string') }}"}},"id":"19388862-b5d9-441c-9441-e9b6574a2bd7","name":"Google Calendar Tool","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[80,432],"credentials":{"googleCalendarOAuth2Api":{"id":"AOWDxaL3CheNb2v5","name":"Google Calendar account"}}},{"parameters":{"promptType":"define","text":"={{ $json.toString }}","options":{"systemMessage":"=Data e Hora atual: {{ $now.setZone('America/Campo_Grande').format('DD/MM/YYYY HH:mm') }}\n\n{{ $('Busca Cliente no Banco').item.json.system_prompt }}\n\n[DADOS DO CLIENTE]\nLista de Médicos e suas Agendas:\n{{ $('Busca Cliente no Banco').item.json.calendar_id }}"}},"id":"1eedb365-7c20-4421-aa01-5248ba066884","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-112,208]},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Webhook').item.json.body.instance }}","remoteJid":"={{ $('Formatar Dados').item.json.Telefone }}","messageText":"={{ $json.output }}","options_message":{}},"id":"ac6e97e7-5794-417d-b261-fc4845d4d9b6","name":"Enviar Resposta (Evolution)","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[256,208],"credentials":{"evolutionApi":{"id":"zRiDTyzgjjIp1xJ5","name":"Evolution account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"34001cc2-45e4-4fd7-937c-4b587b5753b3","leftValue":"={{ $json.mensagemAudioMaisTexto }}","rightValue":"humano","operator":{"type":"string","operation":"contains"}},{"id":"f20fc6b0-8366-42c1-af49-1c70c680c6e3","leftValue":"={{ $json.mensagemAudioMaisTexto }}","rightValue":"atendente","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1840,208],"id":"1bc80e79-918a-46e9-a22b-a14902f4c915","name":"Pediu Humano?\""},{"parameters":{"operation":"delete","key":"MensagemPicotada_556798129001@s.whatsapp.net"},"id":"ea1150be-5521-417c-9bd6-5fb5bc9c669b","name":"Limpar Loop (Manual)","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-736,-32],"credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}}],"connections":{"Webhook":{"main":[[{"node":"Busca Cliente no Banco","type":"main","index":0}]]},"Busca Cliente no Banco":{"main":[[{"node":"Formatar Dados","type":"main","index":0}]]},"Formatar Dados":{"main":[[{"node":"Ler Planilha","type":"main","index":0}]]},"Ler Planilha":{"main":[[{"node":"Cliente Existe?","type":"main","index":0}]]},"Cliente Existe?":{"main":[[{"node":"Texto ou Audio?","type":"main","index":0}],[{"node":"Salvar Novo Cliente","type":"main","index":0}]]},"Salvar Novo Cliente":{"main":[[{"node":"Texto ou Audio?","type":"main","index":0}]]},"Texto ou Audio?":{"main":[[{"node":"Salvar Transcricao","type":"main","index":0}],[{"node":"Baixar Audio (Evolution)","type":"main","index":0}]]},"Baixar Audio (Evolution)":{"main":[[{"node":"Converter Audio","type":"main","index":0}]]},"Converter Audio":{"main":[[{"node":"Transcrever (Gemini)","type":"main","index":0}]]},"Transcrever (Gemini)":{"main":[[{"node":"Salvar Transcricao","type":"main","index":0}]]},"Salvar Transcricao":{"main":[[{"node":"Sou eu mesmo?","type":"main","index":0}]]},"Sou eu mesmo?":{"main":[[{"node":"Bloquear Bot","type":"main","index":0}],[{"node":"Verificar Bloqueio","type":"main","index":0}]]},"Bloquear Bot":{"main":[[{"node":"Verificar Bloqueio","type":"main","index":0}]]},"Verificar Bloqueio":{"main":[[{"node":"Bot Bloqueado?","type":"main","index":0}]]},"Bot Bloqueado?":{"main":[[{"node":"Parar Fluxo","type":"main","index":0}],[{"node":"Unir Texto/Audio","type":"main","index":0}]]},"Unir Texto/Audio":{"main":[[{"node":"Pediu Humano?\"","type":"main","index":0}]]},"Adicionar na Fila":{"main":[[{"node":"Espera 1s","type":"main","index":0}]]},"Espera 1s":{"main":[[{"node":"Ler Fila Completa","type":"main","index":0}]]},"Ler Fila Completa":{"main":[[{"node":"Limpar Fila","type":"main","index":0}]]},"Limpar Fila":{"main":[[{"node":"Preparar p/ IA","type":"main","index":0}]]},"Preparar p/ IA":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Modelo (Gemini)":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Memoria (Redis)":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Google Calendar Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Enviar Resposta (Evolution)","type":"main","index":0}]]},"Pediu Humano?\"":{"main":[[{"node":"Bloquear Bot","type":"main","index":0}],[{"node":"Adicionar na Fila","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"be19ade5-458d-44d6-b007-2d1407a95fcf","triggerCount":1,"shared":[{"updatedAt":"2025-11-28T01:31:35.715Z","createdAt":"2025-11-28T01:31:35.715Z","role":"workflow:owner","workflowId":"jMgKKjRogYcjJJ3b","projectId":"5OFwUiu2XaJEkX8v"}],"tags":[],"safeFileName":"agente_saas__multi_agendas____blindado.json"}