workflows/agente_saas__multi_agendas____completo_e_corrigido.json
{"updatedAt":"2025-12-02T01:35:00.737Z","createdAt":"2025-11-28T01:31:35.715Z","id":"jMgKKjRogYcjJJ3b","name":"Agente SaaS (Multi-Agendas) - COMPLETO E CORRIGIDO","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## 1. Identificação (Multi-tenant)\nRecebe a mensagem e consulta no Banco de Dados quem é o dono dessa instância. O banco retorna:\n- Prompt do Sistema\n- ID da Planilha\n- **Lista de Agendas (JSON)**","height":348,"width":685,"color":5},"id":"7cb338cd-ce5a-4a73-9f94-e80aa5a3afd9","name":"Nota Identificacao","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5600,-544]},{"parameters":{"content":"## 2. Gestão de Planilha\nUsa o ID da planilha vindo do banco para verificar se o cliente existe e salvar novos contatos.","height":348,"width":782,"color":3},"id":"537a547c-1c4a-4a9a-8573-4cc3905bd1a1","name":"Nota Planilha","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4848,-544]},{"parameters":{"content":"## 3. Roteamento & Áudio\nSepara texto de áudio. Se for áudio, baixa da Evolution (usando a instância dinâmica) e transcreve.","height":451,"width":1133,"color":4},"id":"2969ab64-5bc0-43b8-a94e-2385758ba930","name":"Nota Audio","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3968,-576]},{"parameters":{"content":"## 4. Fila de Mensagens (Redis)\nEvita conflito de mensagens simultâneas.","height":579,"width":2045,"color":2},"id":"56691980-86f6-4da2-8399-4f3177316257","name":"Nota Fila","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2784,-624]},{"parameters":{"content":"## 5. Cérebro Multi-Agenda 🧠\nO Prompt recebe a lista de médicos do banco.\n\nA ferramenta **Google Calendar** usa a função `$fromAI` no campo Calendar ID. Isso força a IA a escolher qual e-mail usar baseada na conversa e na lista fornecida.","height":716,"width":1025},"id":"f916facd-0bd9-41ec-a4e2-f1c0531cc0a2","name":"Nota Cerebro","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-640,-656]},{"parameters":{"httpMethod":"POST","path":"f256f04a-1382-44eb-b8b3-64b0c51d2a48","options":{}},"id":"6693afd6-1d48-4348-9952-b329af49c62c","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-5552,-336],"webhookId":"f256f04a-1382-44eb-b8b3-64b0c51d2a48"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM clientes WHERE instance_name = $1","options":{"queryReplacement":"={{ $('Webhook').item.json.body.instance }}"}},"id":"9de2b13c-f8f7-4a20-92c6-86542f799458","name":"Busca Cliente no Banco","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-5344,-352],"credentials":{"postgres":{"id":"MY2N95aYUWR6kF9X","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"nome","name":"Nome","value":"={{ $('Webhook').item.json.body.data.pushName }}","type":"string"},{"id":"telefone","name":"Telefone","value":"={{\n  (\n    ($('Webhook').item.json.body.data.key.remoteJid && $('Webhook').item.json.body.data.key.remoteJid.includes('@s.whatsapp.net')) ? $('Webhook').item.json.body.data.key.remoteJid :\n    ($('Webhook').item.json.body.data.key.remoteJidAlt && $('Webhook').item.json.body.data.key.remoteJidAlt.includes('@s.whatsapp.net')) ? $('Webhook').item.json.body.data.key.remoteJidAlt :\n    $('Webhook').item.json.body.data.key.participant\n  )\n  .replace(\"@s.whatsapp.net\", \"\")\n  .replace(\"@lid\", \"\")\n  .replace(/^55(\\d{2})(\\d{8})$/, \"55$19$2\")\n}}","type":"string"},{"id":"tipo","name":"tipoMensagem","value":"={{ $('Webhook').item.json.body.data.messageType }}","type":"string"},{"id":"fromMe","name":"fromMe","value":"={{ $('Webhook').item.json.body.data.key.fromMe }}","type":"string"},{"id":"bloqueio","name":"bloquearAgente","value":"=BloquearAgente_{{ $json.Telefone }}","type":"string"},{"id":"msg","name":"Mensagem","value":"={{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"},{"id":"msgPicotada","name":"msgPicotada","value":"=MensagemPicotada_{{ $('Webhook').item.json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"id":"2ae8401b-f49e-43c0-850a-c2016077f848","name":"Formatar Dados","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5104,-400]},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('Busca Cliente no Banco').item.json.spreadsheet_id }}","mode":"expression"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pacientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16-380BC81KxckZGpYEvlgp0sCG5oTsgE6WCYfmsQS8I/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"telefone","lookupValue":"={{ $json.Telefone }}"}]},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"A:B"}}}},"id":"6bd56c95-c49d-4583-b621-d4072952b873","name":"Ler Planilha","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-4784,-464],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"VXGldHC2qtY6Hout","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"exists","leftValue":"={{ $json.telefone }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"c55a204e-0577-415f-9a3e-f8c57db14cc1","name":"Cliente Existe?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4560,-464]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('Busca Cliente no Banco').item.json.spreadsheet_id }}","mode":"expression"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pacientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16-380BC81KxckZGpYEvlgp0sCG5oTsgE6WCYfmsQS8I/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"nome":"={{ $json.nome }}","telefone":"={{ $json.telefone }}"},"matchingColumns":[],"schema":[{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"f341131a-f72d-4738-a97d-d8c0e2959965","name":"Salvar Novo Cliente","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-4320,-352],"credentials":{"googleSheetsOAuth2Api":{"id":"VXGldHC2qtY6Hout","name":"Google Sheets account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Formatar Dados').item.json.tipoMensagem }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Formatar Dados').item.json.tipoMensagem }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"}]},"options":{}},"id":"025ef06c-a2c8-4294-90b4-2cfb94f65329","name":"Texto ou Audio?","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-4064,-448]},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body.instance }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}"},"id":"a44d55f9-b4ab-45bd-a791-9a24762e8e3d","name":"Baixar Audio (Evolution)","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3888,-352],"credentials":{"evolutionApi":{"id":"zRiDTyzgjjIp1xJ5","name":"Evolution account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{"fileName":"audio.mp3"}},"id":"ef3d64ce-a851-486b-9de8-f06969e85abe","name":"Converter Audio","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-3664,-352]},{"parameters":{"resource":"audio","modelId":{"__rl":true,"value":"models/gemini-flash-latest","mode":"list","cachedResultName":"models/gemini-flash-latest"},"inputType":"binary","options":{}},"id":"93a5323e-f24a-48f4-b338-6475fdd4135e","name":"Transcrever (Gemini)","type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-3440,-352],"credentials":{"googlePalmApi":{"id":"OWnToAvs0aO5z6W1","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"textoAudio","name":"mensagemAudioemTexto","value":"={{ $json.text || $('Formatar Dados').item.json.Mensagem }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"306a3c37-102a-4431-acdf-1ea6f30c385a","name":"Salvar Transcricao","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3216,-464]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fromMeCheck","leftValue":"={{ $('Formatar Dados').item.json.fromMe }}","rightValue":"{{ true }}","operator":{"type":"string","operation":"equal"}}],"combinator":"or"},"options":{}},"id":"a52ccb21-c268-401b-a853-3f7dea5a9c43","name":"Sou eu mesmo?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3008,-464]},{"parameters":{"operation":"set","key":"={{ $('Formatar Dados').item.json.bloquearAgente }}","value":"true","expire":true},"id":"8f9aee98-2c74-44b7-95de-98bb550871e8","name":"Bloquear Bot","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2720,-528],"credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}},{"parameters":{"operation":"keys","keyPattern":"={{ $('Formatar Dados').item.json.bloquearAgente }}"},"id":"2fe6c971-aad3-407b-a93f-96f09beaffd0","name":"Verificar Bloqueio","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2496,-416],"credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"isBlocked","leftValue":"={{ $json.BloquearAgente }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"25cfce93-105f-43c0-842f-255eac1e5d8e","name":"Bot Bloqueado?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2256,-416]},{"parameters":{},"id":"8716d18b-e60b-405d-9440-79a8f2d46829","name":"Parar Fluxo","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2048,-576]},{"parameters":{"assignments":{"assignments":[{"id":"unir","name":"mensagemAudioMaisTexto","value":"={{ $('Formatar Dados').item.json.Mensagem }}{{ $('Salvar Transcricao').item.json.mensagemAudioemTexto }}","type":"string"}]},"options":{}},"id":"db4b15cb-57fc-4260-9c80-df9ef3780fd4","name":"Unir Texto/Audio","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2048,-336]},{"parameters":{"operation":"push","list":"={{ $('Formatar Dados').item.json.msgPicotada }}","messageData":"={{ $json.mensagemAudioMaisTexto }}","tail":true},"id":"a00a62be-552a-4def-9aa2-1cd8bf202af6","name":"Adicionar na Fila","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1616,-336],"credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}},{"parameters":{},"id":"f150fb50-e725-4331-9de2-95ef46c6c1a0","name":"Espera 1s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1392,-336],"webhookId":"45086d60-e330-4209-8512-7afeb97e72cf"},{"parameters":{"operation":"get","key":"={{ $('Formatar Dados').item.json.msgPicotada }}","options":{}},"id":"3ec96e95-c5da-4377-b8d3-68e6842382e8","name":"Ler Fila Completa","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1168,-336],"credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"={{ $('Formatar Dados').item.json.msgPicotada }}"},"id":"ed2dd15a-7320-441a-b128-f016f12f2db9","name":"Limpar Fila","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-960,-336],"credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"prep","name":"toString","value":"={{ $('Ler Fila Completa').item.json.propertyName.toJsonString() }}","type":"string"}]},"options":{}},"id":"3783f76d-842e-4c69-a215-1f066bb01f62","name":"Preparar p/ IA","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-736,-336]},{"parameters":{"modelName":"models/gemini-flash-latest","options":{}},"id":"27d98096-2a28-48d6-a340-5e354b28c415","name":"Modelo (Gemini)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-208,-112],"credentials":{"googlePalmApi":{"id":"OWnToAvs0aO5z6W1","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Busca Cliente no Banco').item.json.instance_name }}_{{ $('Formatar Dados').item.json.Telefone }}"},"id":"3de88afa-e168-43f6-9836-8e02ea87c32a","name":"Memoria (Redis)","type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[-80,-112],"credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}},{"parameters":{"calendar":{"__rl":true,"value":"={{ $fromAI('calendarId', 'O ID (email) do calendario do medico escolhido. Consulte a lista no prompt do sistema.', 'string') }}","mode":"expression"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","useDefaultReminders":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}","additionalFields":{"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `Coloque qual o nome do paciente, a data de nascimento, o telefone dele (busque no RemotId) e o médico responsável da consulta.`, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `Coloque apenas o nome do paciente, o horário de agendamento e o médico que fará a consulta.`, 'string') }}"}},"id":"bf550569-4226-41be-89ca-99c67b38fad0","name":"Google Calendar Tool","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[80,-112],"credentials":{"googleCalendarOAuth2Api":{"id":"AOWDxaL3CheNb2v5","name":"Google Calendar account"}}},{"parameters":{"promptType":"define","text":"={{ $json.toString }}","options":{"systemMessage":"=Data e Hora atual: {{ $now.setZone('America/Campo_Grande').format('DD/MM/YYYY HH:mm') }}\n\n{{ $('Busca Cliente no Banco').item.json.system_prompt }}\n\n[DADOS DO CLIENTE]\nLista de Médicos e suas Agendas:\n{{ $('Busca Cliente no Banco').item.json.calendar_id }}"}},"id":"bd1c35d4-2116-4136-a58c-5759b4010adb","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-112,-336]},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Webhook').item.json.body.instance }}","remoteJid":"={{ $('Formatar Dados').item.json.Telefone }}","messageText":"={{ $json.output }}","options_message":{}},"id":"f2a4703a-fb92-4d1b-be19-475f2e3aef27","name":"Enviar Resposta (Evolution)","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[256,-336],"credentials":{"evolutionApi":{"id":"zRiDTyzgjjIp1xJ5","name":"Evolution account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"34001cc2-45e4-4fd7-937c-4b587b5753b3","leftValue":"={{ $json.mensagemAudioMaisTexto }}","rightValue":"humano","operator":{"type":"string","operation":"contains"}},{"id":"f20fc6b0-8366-42c1-af49-1c70c680c6e3","leftValue":"={{ $json.mensagemAudioMaisTexto }}","rightValue":"atendente","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1840,-336],"id":"56cef575-3413-46e8-bd94-c4736073b515","name":"Pediu Humano?\""},{"parameters":{"operation":"delete","key":"MensagemPicotada_556798129001@s.whatsapp.net"},"id":"dbafcc12-ad5a-4e06-90ce-acb210761c68","name":"Limpar Loop (Manual)","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-928,144],"credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}}],"connections":{"Webhook":{"main":[[{"node":"Busca Cliente no Banco","type":"main","index":0}]]},"Busca Cliente no Banco":{"main":[[{"node":"Formatar Dados","type":"main","index":0}]]},"Formatar Dados":{"main":[[{"node":"Ler Planilha","type":"main","index":0}]]},"Ler Planilha":{"main":[[{"node":"Cliente Existe?","type":"main","index":0}]]},"Cliente Existe?":{"main":[[{"node":"Texto ou Audio?","type":"main","index":0}],[{"node":"Salvar Novo Cliente","type":"main","index":0}]]},"Salvar Novo Cliente":{"main":[[{"node":"Texto ou Audio?","type":"main","index":0}]]},"Texto ou Audio?":{"main":[[{"node":"Salvar Transcricao","type":"main","index":0}],[{"node":"Baixar Audio (Evolution)","type":"main","index":0}]]},"Baixar Audio (Evolution)":{"main":[[{"node":"Converter Audio","type":"main","index":0}]]},"Converter Audio":{"main":[[{"node":"Transcrever (Gemini)","type":"main","index":0}]]},"Transcrever (Gemini)":{"main":[[{"node":"Salvar Transcricao","type":"main","index":0}]]},"Salvar Transcricao":{"main":[[{"node":"Sou eu mesmo?","type":"main","index":0}]]},"Sou eu mesmo?":{"main":[[{"node":"Bloquear Bot","type":"main","index":0}],[{"node":"Verificar Bloqueio","type":"main","index":0}]]},"Bloquear Bot":{"main":[[{"node":"Verificar Bloqueio","type":"main","index":0}]]},"Verificar Bloqueio":{"main":[[{"node":"Bot Bloqueado?","type":"main","index":0}]]},"Bot Bloqueado?":{"main":[[{"node":"Parar Fluxo","type":"main","index":0}],[{"node":"Unir Texto/Audio","type":"main","index":0}]]},"Unir Texto/Audio":{"main":[[{"node":"Pediu Humano?\"","type":"main","index":0}]]},"Adicionar na Fila":{"main":[[{"node":"Espera 1s","type":"main","index":0}]]},"Espera 1s":{"main":[[{"node":"Ler Fila Completa","type":"main","index":0}]]},"Ler Fila Completa":{"main":[[{"node":"Limpar Fila","type":"main","index":0}]]},"Limpar Fila":{"main":[[{"node":"Preparar p/ IA","type":"main","index":0}]]},"Preparar p/ IA":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Modelo (Gemini)":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Memoria (Redis)":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Google Calendar Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Enviar Resposta (Evolution)","type":"main","index":0}]]},"Pediu Humano?\"":{"main":[[{"node":"Bloquear Bot","type":"main","index":0}],[{"node":"Adicionar na Fila","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5f08eb72-a675-4011-8ad8-2e1f7838ef30","triggerCount":1,"shared":[{"updatedAt":"2025-11-28T01:31:35.715Z","createdAt":"2025-11-28T01:31:35.715Z","role":"workflow:owner","workflowId":"jMgKKjRogYcjJJ3b","projectId":"5OFwUiu2XaJEkX8v"}],"tags":[],"safeFileName":"agente_saas__multi_agendas____completo_e_corrigido.json"}