workflows/Agente SaaS (Multi-Agendas).json
{
  "name": "Agente SaaS (Multi-Agendas)",
  "nodes": [
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Webhook').item.json.body.instance }}",
        "remoteJid": "={{ $('Formatar Dados').first().json.Telefone }}",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "id": "1d904c99-6a9f-43b6-a43f-04f9a3fc328e",
      "name": "Enviar Resposta (Evolution)",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1168,
        432
      ],
      "credentials": {
        "evolutionApi": {
          "id": "zRiDTyzgjjIp1xJ5",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.toString }}",
        "options": {
          "systemMessage": "=Hora atual: {{ $now.setZone(\"America/Campo_Grande\").toFormat(\"dd/MM/yyyy HH:mm\") }}\nTelefone do Cliente: {{ $('Formatar Dados').item.json.Telefone }}\n\nCONTEXTO E REGRAS:\n{{ $('Busca Cliente no Banco').item.json.system_prompt }}"
        }
      },
      "id": "42a4f9c1-6e64-410e-82c5-d2d589ba686c",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        800,
        368
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "={{ $fromAI('calendarId', 'O ID (email) do calendario do medico escolhido. Consulte a lista no prompt do sistema.', 'string') }}",
          "mode": "expression"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `Coloque qual o nome do paciente, a data de nascimento, o telefone dele (busque no RemotId) e o médico responsável da consulta.`, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `Coloque apenas o nome do paciente, o horário de agendamento e o médico que fará a consulta.`, 'string') }}"
        }
      },
      "id": "8f4cc67c-d48b-40ce-a451-f9a50686ee78",
      "name": "Google Calendar Tool",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        992,
        576
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "AOWDxaL3CheNb2v5",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Busca Cliente no Banco').item.json.instance_name }}_{{ $('Formatar Dados').item.json.Telefone }}-LOVE"
      },
      "id": "ff77593b-82a2-4cbe-b17c-412d8cb3b5ff",
      "name": "Memoria (Redis)",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        848,
        576
      ],
      "credentials": {
        "redis": {
          "id": "6KArPcQkZoXJFByI",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "id": "a2ed3c40-8838-4560-9295-69747a81f875",
      "name": "Modelo (Gemini)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        720,
        576
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "OWnToAvs0aO5z6W1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prep",
              "name": "toString",
              "value": "={{ $('Ler Fila Completa').item.json.propertyName.toJsonString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "16b367b6-e871-401b-b906-ba24676a66e4",
      "name": "Preparar p/ IA",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        432
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Formatar Dados').item.json.msgPicotada }}"
      },
      "id": "c6008757-f990-4d7b-9565-f130753d2a77",
      "name": "Limpar Fila",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -48,
        432
      ],
      "credentials": {
        "redis": {
          "id": "6KArPcQkZoXJFByI",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('Formatar Dados').item.json.msgPicotada }}",
        "options": {}
      },
      "id": "24ab4747-c83c-4f3c-aed7-4d0be3793fa0",
      "name": "Ler Fila Completa",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -256,
        432
      ],
      "credentials": {
        "redis": {
          "id": "6KArPcQkZoXJFByI",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "id": "6df9058b-cd5c-45ce-b33a-7449b4c6272c",
      "name": "Espera 1s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -480,
        432
      ],
      "webhookId": "45086d60-e330-4209-8512-7afeb97e72cf"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Formatar Dados').item.json.msgPicotada }}",
        "messageData": "={{ $json.mensagemAudioMaisTexto }}",
        "tail": true
      },
      "id": "00c53588-fd2d-413c-ae97-16bd796a5c3a",
      "name": "Adicionar na Fila",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -704,
        432
      ],
      "credentials": {
        "redis": {
          "id": "6KArPcQkZoXJFByI",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "unir",
              "name": "mensagemAudioMaisTexto",
              "value": "={{ $('Formatar Dados').item.json.Mensagem }}{{ $('Salvar Transcricao').item.json.mensagemAudioemTexto }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "818486ed-1b08-473a-acb0-2924d356eee2",
      "name": "Unir Texto/Audio",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -928,
        432
      ]
    },
    {
      "parameters": {},
      "id": "c961b22b-ebed-4aa7-a183-a00541540191",
      "name": "Parar Fluxo",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -928,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "isBlocked",
              "leftValue": "={{ $json.BloquearAgente }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6bbbea7f-5ce2-4564-8d92-52007bf13cf3",
      "name": "Bot Bloqueado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1136,
        352
      ]
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "={{ $('Formatar Dados').item.json.bloquearAgente }}"
      },
      "id": "5d9d3f97-eed1-4b02-b7f8-5178d0a6f043",
      "name": "Verificar Bloqueio",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1376,
        400
      ],
      "credentials": {
        "redis": {
          "id": "6KArPcQkZoXJFByI",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Formatar Dados').item.json.bloquearAgente }}",
        "value": "true",
        "expire": true
      },
      "id": "b0198fd1-a1ee-4561-a8e6-b6d98ee79c9a",
      "name": "Bloquear Bot",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1584,
        400
      ],
      "credentials": {
        "redis": {
          "id": "6KArPcQkZoXJFByI",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "textoAudio",
              "name": "mensagemAudioemTexto",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fe6b962a-33b2-4c88-bd74-1d51ea7e8373",
      "name": "Salvar Transcricao",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2096,
        320
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-flash-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-flash-latest"
        },
        "inputType": "binary",
        "options": {}
      },
      "id": "a7d1ff5c-c59b-4440-ba5a-c7ee1ed22fe8",
      "name": "Transcrever (Gemini)",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -2320,
        416
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "OWnToAvs0aO5z6W1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "fileName": "audio.mp3"
        }
      },
      "id": "18fffcfa-36ad-4bfe-890b-3e6e3d62e409",
      "name": "Converter Audio",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -2544,
        416
      ]
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('Webhook').item.json.body.instance }}",
        "messageId": "={{ $('Webhook').item.json.body.data.key.id }}"
      },
      "id": "ffa3b545-a9ab-4601-9468-df06c0f6f995",
      "name": "Baixar Audio (Evolution)",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -2768,
        416
      ],
      "credentials": {
        "evolutionApi": {
          "id": "zRiDTyzgjjIp1xJ5",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Formatar Dados').item.json.tipoMensagem }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Formatar Dados').item.json.tipoMensagem }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            }
          ]
        },
        "options": {}
      },
      "id": "4ec2534a-19ef-47cf-9b26-e2acf3fe5487",
      "name": "Texto ou Audio?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2944,
        320
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Busca Cliente no Banco').item.json.spreadsheet_id }}",
          "mode": "expression"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "pacientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16-380BC81KxckZGpYEvlgp0sCG5oTsgE6WCYfmsQS8I/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nome": "={{ $json.nome }}",
            "telefone": "={{ $json.Telefone }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "26f54757-af98-48c6-aa9b-bc48d590960f",
      "name": "Salvar Novo Cliente",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -3200,
        416
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VXGldHC2qtY6Hout",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "exists",
              "leftValue": "={{ $json.telefone }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3d4dc3bb-96a9-4d9a-8006-95549feee5c4",
      "name": "Cliente Existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3456,
        368
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=16-380BC81KxckZGpYEvlgp0sCG5oTsgE6WCYfmsQS8I",
          "mode": "expression"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telefone",
              "lookupValue": "={{ $json.Telefone }}"
            }
          ]
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A:B"
            }
          }
        }
      },
      "id": "a096764f-0bcd-419e-ab47-b1b1b82d86aa",
      "name": "Ler Planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -3664,
        416
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VXGldHC2qtY6Hout",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM clientes WHERE instance_name = '{{ $json.body.instance }}'",
        "options": {
          "queryReplacement": "={{ $json.body.instance }}"
        }
      },
      "id": "312146dd-fbaf-4d92-9e18-e4f0ad7268e6",
      "name": "Busca Cliente no Banco",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4224,
        432
      ],
      "credentials": {
        "postgres": {
          "id": "MY2N95aYUWR6kF9X",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f256f04a-1382-44eb-b8b3-64b0c51d2a48",
        "options": {}
      },
      "id": "20197775-34b5-4802-82a5-029941320bc7",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4432,
        432
      ],
      "webhookId": "f256f04a-1382-44eb-b8b3-64b0c51d2a48"
    },
    {
      "parameters": {
        "content": "## 5. Cérebro Multi-Agenda 🧠\nO Prompt recebe a lista de médicos do banco.\n\nA ferramenta **Google Calendar** usa a função `$fromAI` no campo Calendar ID. Isso força a IA a escolher qual e-mail usar baseada na conversa e na lista fornecida.",
        "height": 620,
        "width": 1025
      },
      "id": "0ee41b96-c201-4246-ae90-ccad193ccd5e",
      "name": "Nota Cerebro",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        112
      ]
    },
    {
      "parameters": {
        "content": "## 4. Fila de Mensagens (Redis)\nEvita conflito de mensagens simultâneas.",
        "height": 451,
        "width": 2029,
        "color": 2
      },
      "id": "ba148f1a-e54f-4c58-81f2-01e5ac790134",
      "name": "Nota Fila",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1648,
        160
      ]
    },
    {
      "parameters": {
        "content": "## 3. Roteamento & Áudio\nSepara texto de áudio. Se for áudio, baixa da Evolution (usando a instância dinâmica) e transcreve.",
        "height": 451,
        "width": 1149,
        "color": 4
      },
      "id": "e6adc848-56d1-4e6f-943f-40c502f7f3b0",
      "name": "Nota Audio",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2832,
        192
      ]
    },
    {
      "parameters": {
        "content": "## 2. Gestão de Planilha\nUsa o ID da planilha vindo do banco para verificar se o cliente existe e salvar novos contatos.",
        "height": 348,
        "width": 782,
        "color": 3
      },
      "id": "8d7e1e13-147d-4ad1-a70d-ae29d2cf2b5e",
      "name": "Nota Planilha",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3744,
        240
      ]
    },
    {
      "parameters": {
        "content": "## 1. Identificação (Multi-tenant)\nRecebe a mensagem e consulta no Banco de Dados quem é o dono dessa instância. O banco retorna:\n- Prompt do Sistema\n- ID da Planilha\n- **Lista de Agendas (JSON)**",
        "height": 348,
        "width": 685,
        "color": 5
      },
      "id": "ec3467f1-fdaa-48a2-92ee-33555a5b31d6",
      "name": "Nota Identificacao",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4480,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fromMeCheck",
              "leftValue": "={{ $('Formatar Dados').item.json.fromMe }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "33f7964d-5db1-41e2-b281-19c5a31f4d64",
      "name": "Sou eu mesmo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1888,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "nome",
              "name": "Nome",
              "value": "={{ $('Webhook').item.json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "tipo",
              "name": "tipoMensagem",
              "value": "={{ $('Webhook').item.json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "fromMe",
              "name": "fromMe",
              "value": "={{ $('Webhook').item.json.body.data.key.fromMe }}",
              "type": "boolean"
            },
            {
              "id": "bloqueio",
              "name": "bloquearAgente",
              "value": "BloquearAgente_{{ ($('Webhook').item.json.body.data.key.remoteJid || $('Webhook').item.json.body.data.key.remoteJidAlt).replace(\"@s.whatsapp.net\", \"\") }}",
              "type": "string"
            },
            {
              "id": "msg",
              "name": "Mensagem",
              "value": "={{ $('Webhook').item.json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "msgPicotada",
              "name": "msgPicotada",
              "value": "=MensagemPicotada_{{ ($('Webhook').item.json.body.data.key.remoteJid || $('Webhook').item.json.body.data.key.remoteJidAlt).replace(\"@s.whatsapp.net\", \"\") }}",
              "type": "string"
            },
            {
              "id": "e3e09a5c-8133-46ab-b50c-7257db282f16",
              "name": "Telefone",
              "value": "={{ ($('Webhook').item.json.body.data.key.remoteJid || $('Webhook').item.json.body.data.key.remoteJidAlt).replace(\"@s.whatsapp.net\", \"\").replace(\"@lid\", \"\").replace(/^55(\\d{2})(\\d{8})$/, \"55$19$2\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6dc9ef2a-348f-4302-99f8-b95b2049b57c",
      "name": "Formatar Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3984,
        432
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Enviar Resposta (Evolution)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memoria (Redis)": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Modelo (Gemini)": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Preparar p/ IA": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Fila": {
      "main": [
        [
          {
            "node": "Preparar p/ IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Fila Completa": {
      "main": [
        [
          {
            "node": "Limpar Fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera 1s": {
      "main": [
        [
          {
            "node": "Ler Fila Completa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adicionar na Fila": {
      "main": [
        [
          {
            "node": "Espera 1s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unir Texto/Audio": {
      "main": [
        [
          {
            "node": "Adicionar na Fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bot Bloqueado?": {
      "main": [
        [
          {
            "node": "Parar Fluxo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unir Texto/Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Bloqueio": {
      "main": [
        [
          {
            "node": "Bot Bloqueado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bloquear Bot": {
      "main": [
        [
          {
            "node": "Verificar Bloqueio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Transcricao": {
      "main": [
        [
          {
            "node": "Sou eu mesmo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrever (Gemini)": {
      "main": [
        [
          {
            "node": "Salvar Transcricao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter Audio": {
      "main": [
        [
          {
            "node": "Transcrever (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar Audio (Evolution)": {
      "main": [
        [
          {
            "node": "Converter Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Texto ou Audio?": {
      "main": [
        [
          {
            "node": "Salvar Transcricao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Baixar Audio (Evolution)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Novo Cliente": {
      "main": [
        [
          {
            "node": "Texto ou Audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cliente Existe?": {
      "main": [
        [
          {
            "node": "Texto ou Audio?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Salvar Novo Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Planilha": {
      "main": [
        [
          {
            "node": "Cliente Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Cliente no Banco": {
      "main": [
        [
          {
            "node": "Formatar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Busca Cliente no Banco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sou eu mesmo?": {
      "main": [
        [],
        [
          {
            "node": "Bloquear Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Dados": {
      "main": [
        [
          {
            "node": "Ler Planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3f770a9e-244e-4092-9f68-0b3ad747f41c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0a9dea583c235a84c1f9b58ec167ddfe699eeddc50d04d8fc8a30fe5660866a4"
  },
  "id": "jMgKKjRogYcjJJ3b",
  "tags": []
}