workflows/agente_de_agendamento_yt.json
{"updatedAt":"2025-11-29T22:46:29.378Z","createdAt":"2025-11-28T01:31:35.715Z","id":"jMgKKjRogYcjJJ3b","name":"Agente de Agendamento YT","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"f256f04a-1382-44eb-b8b3-64b0c51d2a48","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3488,208],"id":"676deb9c-5b43-4feb-b3eb-09b7053e5cbc","name":"Webhook","webhookId":"f256f04a-1382-44eb-b8b3-64b0c51d2a48"},{"parameters":{"assignments":{"assignments":[{"id":"ddfc8c08-22d7-43e3-abad-b5cd3dfcdf13","name":"Nome","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"da577156-0336-4cb8-98cf-acb620856825","name":"Telefone","value":"={{ ($json.body.data.key.remoteJidAlt || $json.body.data.key.remoteJid).replace(\"@s.whatsapp.net\", \"\").replace(\"@lid\", \"\").replace(/^55(\\d{2})(\\d{8})$/, \"55$19$2\") }}","type":"string"},{"id":"3ba0eaa2-46cc-41a9-ac24-1f91aba1acca","name":"tipoMensagem","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"e5af360f-3c55-4a41-bccf-0c764bdf6b4c","name":"fremMe","value":"={{ $json.body.data.key.fromMe }}","type":"string"},{"id":"0fd39744-4570-425b-9898-424733135a4e","name":"bloquearAgente","value":"BloquearAgente","type":"string"},{"id":"64bd7c31-7555-4c11-a9dd-85cfb78b19b0","name":"Mensagem","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"7a421dfe-7db5-4ad6-be47-f3e6d7b01bc9","name":"msgPicotada","value":"=MensagemPicotada{{ $json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3056,208],"id":"c82e9cfe-9d09-4fb2-8595-b1b8182697c7","name":"Edit Fields"},{"parameters":{"documentId":{"__rl":true,"value":"16-380BC81KxckZGpYEvlgp0sCG5oTsgE6WCYfmsQS8I","mode":"list","cachedResultName":"clientes fisio","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16-380BC81KxckZGpYEvlgp0sCG5oTsgE6WCYfmsQS8I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pacientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16-380BC81KxckZGpYEvlgp0sCG5oTsgE6WCYfmsQS8I/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"telefone","lookupValue":"={{ $json.Telefone }}"}]},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"A:B"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2832,208],"id":"81ac4612-5053-40d4-87f8-7d9248f4ded5","name":"Google Sheets","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"VXGldHC2qtY6Hout","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"56722fd8-a5b1-4a2f-be32-c87cd0f2b3c0","leftValue":"={{ $json.telefone }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2608,208],"id":"7af3c4d2-fe2e-484d-b2a2-0460247ccb9e","name":"If"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"16-380BC81KxckZGpYEvlgp0sCG5oTsgE6WCYfmsQS8I","mode":"list","cachedResultName":"clientes fisio","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16-380BC81KxckZGpYEvlgp0sCG5oTsgE6WCYfmsQS8I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pacientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16-380BC81KxckZGpYEvlgp0sCG5oTsgE6WCYfmsQS8I/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"nome":"={{ $json.nome }}","telefone":"={{ $json.telefone }}"},"matchingColumns":[],"schema":[{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2352,304],"id":"c8bb42c2-eade-431e-8631-f71cecec13e9","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"VXGldHC2qtY6Hout","name":"Google Sheets account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Edit Fields').item.json.tipoMensagem }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"},"id":"b8a1042f-1d61-4a34-875b-25b15993a2d9"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"87f39adc-b08d-453a-839f-7369a39afe1a","leftValue":"={{ $('Edit Fields').item.json.tipoMensagem }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2160,192],"id":"bb26e81f-904d-4fa6-98e1-f4bb10f6fc2e","name":"Switch"},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{"fileName":"audio.mp3"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1696,288],"id":"ffa3879e-1ed3-421a-b000-6dcc474718a2","name":"Convert to File"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"karu vps","messageId":"={{ $('Webhook').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1936,288],"id":"e49564da-1d47-4dc1-b17f-abcc35334c8e","name":"Evolution API","credentials":{"evolutionApi":{"id":"zRiDTyzgjjIp1xJ5","name":"Evolution account"}}},{"parameters":{"assignments":{"assignments":[{"id":"c91c0065-d17a-41f3-8a0f-21772a5670f1","name":"mensagemAudioemTexto","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1024,160],"id":"f96bad53-5bba-471d-9670-a399e786a58e","name":"Edit Fields1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5d74ff41-ebbc-4cbb-a1c5-f06801d577f0","leftValue":"={{ $('Edit Fields').item.json.fremMe }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-800,160],"id":"bda2adbb-19a7-4477-8a1a-bd2436b74c91","name":"If1"},{"parameters":{"operation":"set","key":"={{ $('Edit Fields').item.json.bloquearAgente }}","value":"true","expire":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-544,48],"id":"44cde8b9-18fe-44a7-b26e-dc810a669713","name":"Redis","credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}},{"parameters":{"operation":"keys","keyPattern":"={{ $('Edit Fields').item.json.bloquearAgente }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-304,192],"id":"7ff060c8-44e7-4ddc-835d-5b4ca56bf3ba","name":"Redis1","credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7093cc34-f209-4ea9-a755-721b3486cdab","leftValue":"={{ $json.BloquearAgente }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-80,192],"id":"8bf34d03-dff3-40fe-8c0e-2d25acec7b1e","name":"If2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[416,0],"id":"2bd86bad-e6f1-46aa-9a77-af47bc6f0bef","name":"No Operation, do nothing"},{"parameters":{"operation":"push","list":"={{ $('Edit Fields').item.json.msgPicotada }}","messageData":"={{ $json.mensagemAudioMaisTexto }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[448,288],"id":"d37ffb1b-1725-49f6-9a44-4137e1e589c8","name":"Redis2","credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"547a1227-9df2-4b0b-9c91-465326c0364f","name":"mensagemAudioMaisTexto","value":"={{ $('Edit Fields').item.json.Mensagem }}{{ $('Edit Fields1').item.json.mensagemAudioemTexto }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[128,288],"id":"4a1321f6-0378-4ff7-b7c7-7a9399232ef3","name":"Edit Fields2"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[656,288],"id":"b8e7f273-9416-474f-b993-e25c513d9072","name":"Wait","webhookId":"45086d60-e330-4209-8512-7afeb97e72cf"},{"parameters":{"operation":"get","key":"={{ $('Edit Fields').item.json.msgPicotada }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[880,288],"id":"40862a08-59b7-4efb-87d9-11d923793c2d","name":"Redis3","credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"={{ $('Edit Fields').item.json.msgPicotada }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1104,288],"id":"7096b295-3e01-429c-bd9f-4437b86c24dc","name":"Redis4","credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}},{"parameters":{"promptType":"define","text":"={{ $json.toString }}","options":{"systemMessage":"=Hora atual: {{ $now }}\nTelefone do paciente: {{ $('Edit Fields').item.json.Telefone }}, peça para o paciente confirmar se pode cadastrar usando esse telefone. \n\nFunção\nVocê se chama \"Pensando AI\", atua no atendimento de Whatsapps da Consultório Médico Boa Saúde, sua função é atender aos pacientes de maneira objetiva, ágil e eficiente, respondendo dúvidas e auxiliando em agendamentos, cancelamentos ou remarcações de consultas. Seja sempre objetivo, simpático, prestativo, humano e respeitoso.\n\n\nLOCALIZAÇÃO E CONTATO:\n- Endereço: Rua Formoso, numero 100, Setor America, CEP 00.000-000\n- Telefone e WhatsApp: (11) 00000-0000\n- E-mail: contato@consultorioboaforma.com.br\n- Site: www.consultorioboaforma.com.br\n\n\nMÉDICOS E ESPECIALIDADES:\n- Dr. João (Médico Endocrinologista), ele essta disponivel para atender das 08:00 ás 18:00 de segunda a sexta feira. Pode agendar as consultas em qualquer horario dentro desse intervalo.\n\n\nVALORES E FORMAS DE PAGAMENTO:\n- Consulta: R$ 600,00\n- Formas de pagamento: PIX, dinheiro, cartão de débito ou crédito.\n- Plano de Saúde/Convênios aceitos: Unimed.\n\n\nOBJETIVO:\n1. Responder dúvidas sobre o Consultório como: \n- Especialidade médica do Consultório\n- Localização do Consultório\n- Formas de pagamento aceitáveis\n2. Agendar, consultar, remarcar e cancelar consultas de forma simples e eficaz.\n3. Sempre agir passo a passo para garantir rapidez e precisão em cada atendimento.\n\n\nINSTRUÇÃO IMPORTANTE:\n- Ao criar ou editar qualquer evento no Google Calendar, incluir sempre o telefone do paciente na descrição do agendamento, juntamente com o nome completo, data de nascimento, qual o médico escolhido e quaisquer outras informações relevantes fornecidas pelo paciente.\n\n\nINSTRUÇÕES DE COMO FALAR COM O PACIENTE:\n\n1. Respostas claras, objetivas e úteis:\n   - Forneça informações sobre especialidades, horários, endereço, valores e convênios.\n\n2. Não dê diagnósticos ou opiniões médicas:\n   - Se o paciente insistir em diagnóstico responda que só o médico na consulta que deverá passar o diagnostico.\n\n3. Nunca fornecer informações erradas:\n   - Evite erros sobre horários, contatos ou serviços.\n\n4. Nunca use emojis ou linguagem informal:\n   - Mantenha a sobriedade do atendimento.\n\n5. Nunca confirme consultas sem o retorno do MCP Google Calendar:\n   - Garanta que o evento foi criado com sucesso antes de dar a resposta final.\n\n6. Sempre faça duas verificações:\n   - Confirme sempre os dados para evitar equívocos em agendamentos, remarcações ou cancelamentos.\n\n\nCHAME A TOOL:\nMCP Google Calendar para:\n  - Agendar, listar, remarcar ou desmarcar consultas.\n  - Ao criar ou editar o evento, incluir:\n    - Nome completo\n    - Telefone\n    - Data de nascimento\n    - Informações adicionais (se houver)\n\nImportante: \n- Quando for solicitado para alterar/remarcar um agendamento primeiro delete o horario antigo e depois crie o novo horario.\n- Se você não conseguir fazer algo não diga isso para o paciente, ele não precisar saber da inconpetencia nossa. Apenas ofereça a solução.\n- Nunca agende mais de um paciente no mesmo horario. Ex: se o paciente \"x\" esta marcado para segunda feira as 08:00 então o paciente \"y\" não pode marcar no mesmo horario mesmo que ele peça.\n- Cada agendamento tem duração de 30 minutos;\n- Sempre coloque o telefone do paciente na descrição do agendamento.\n- Todo paciente só pode ter um agendamento por vez, se ele tentar fazer mais de um agendamento pergunte se ele quer desmarcar o primeiro agendamento dele.\n- O Summary deve ser com: nome do paciente, horario, nome do medico. Mantenha esse padrão para todos agendamentos.\n- Nunca agende datas ou horários passados.\n- Se o paciente perguntar sobre outros agendamentos que não é o dele não informe.\n- Nunca agende antes das 08:00.\n- Nunca agende depois das 18:00.\n\nLEMBRE-SE:\n- Qualquer assunto que não seja sobre a clinica ou sobre agendar uma consulta responda que o assunto não é apropriado e diga sua função.\n- Nunca forneça diagnósticos ou opiniões médicas.\n- Não utilize emoji.\n- Mantenha o tom profissional, claro, respeitoso e objetivo o tempo todo. \n- Sempre agendar datas futuras, nunca passadas.\n- Não fale que você é uma inteligência artificial faça um atendimento humanizado\n\nNunca agende ou remarque mais de um paciente no mesmo horario. Ex: se o paciente \"x\" esta marcado para segunda feira as 08:00 então o paciente \"y\" não pode marcar no mesmo horario mesmo que ele peça. O médico não pode atender 2 paciente no mesmo horario.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1648,288],"id":"57ae4ad6-b178-4184-9a24-a8861caf383d","name":"AI Agent"},{"parameters":{"sseEndpoint":"http://n8n:5678/mcp/googleCalendar/sse","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[1968,544],"id":"ebcbfd2e-04e1-4026-94f1-4de5f662eec7","name":"MCP Client"},{"parameters":{"resource":"messages-api","instanceName":"karu vps","remoteJid":"={{ $('Edit Fields').item.json.Telefone }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2032,0],"id":"67b3dd8c-b245-46f6-b860-bdc349e7ebc7","name":"Evolution API1","credentials":{"evolutionApi":{"id":"zRiDTyzgjjIp1xJ5","name":"Evolution account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields').item.json.Telefone }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[1760,560],"id":"f9bf0dce-7530-4339-b7b9-7fe6826ef4cf","name":"Redis Chat Memory","credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"c321c7c8-addc-4912-b1b4-316cc0bab974","name":"toString","value":"={{ $('Redis3').item.json.propertyName.toJsonString() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1376,288],"id":"6fe05095-be44-464d-8380-996df136bb65","name":"Edit Fields3"},{"parameters":{"modelName":"models/gemini-flash-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1520,496],"id":"2aead294-ebcd-4a39-909d-90622f0204a2","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"OWnToAvs0aO5z6W1","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"resource":"audio","modelId":{"__rl":true,"value":"models/gemini-flash-latest","mode":"list","cachedResultName":"models/gemini-flash-latest"},"inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-1488,288],"id":"302a5d77-9d14-4ded-a0fb-94be16488bf6","name":"Transcribe a recording","credentials":{"googlePalmApi":{"id":"OWnToAvs0aO5z6W1","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM clientes WHERE instance_name = $1","options":{"queryReplacement":"={{ $json.body.instance }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3280,208],"id":"0755d0a7-9425-45d1-8d69-9c3e60dd35ff","name":"Execute a SQL query","credentials":{"postgres":{"id":"MY2N95aYUWR6kF9X","name":"Postgres account"}}}],"connections":{"Webhook":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Evolution API","type":"main","index":0}]]},"Evolution API":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Redis","type":"main","index":0}],[{"node":"Redis1","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Redis2","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Redis3","type":"main","index":0}]]},"Redis3":{"main":[[{"node":"Redis4","type":"main","index":0}]]},"Redis4":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Edit Fields3":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"accept":"application/json, text/plain, */*","content-type":"application/json","user-agent":"axios/1.12.2","content-length":"1248","accept-encoding":"gzip, compress, deflate, br","host":"host.docker.internal:5678","connection":"keep-alive"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"karu vps","data":{"key":{"remoteJid":"6305582428223@lid","remoteJidAlt":"559574000620@s.whatsapp.net","fromMe":false,"id":"A524EB760D3CA0D2C2A9F8C6E0AF8EFD","participant":"","addressingMode":"lid"},"pushName":"Charlie","status":"DELIVERY_ACK","message":{"conversation":"Oii","messageContextInfo":{"deviceListMetadata":{"senderKeyIndexes":[],"recipientKeyIndexes":[],"recipientKeyHash":{"0":219,"1":210,"2":159,"3":7,"4":20,"5":11,"6":77,"7":63,"8":177,"9":6},"recipientTimestamp":{"low":1763864778,"high":0,"unsigned":true}},"deviceListMetadataVersion":2,"messageSecret":{"0":190,"1":159,"2":220,"3":248,"4":243,"5":126,"6":110,"7":168,"8":22,"9":62,"10":19,"11":52,"12":159,"13":155,"14":34,"15":196,"16":197,"17":93,"18":11,"19":209,"20":153,"21":246,"22":65,"23":118,"24":98,"25":7,"26":70,"27":226,"28":32,"29":102,"30":80,"31":61}}},"messageType":"conversation","messageTimestamp":1763874714,"instanceId":"babb0c50-0e93-4b21-9b4d-fc8db9e21600","source":"android"},"destination":"http://host.docker.internal:5678/webhook-test/f256f04a-1382-44eb-b8b3-64b0c51d2a48","date_time":"2025-11-23T02:11:55.204Z","sender":"556784730028@s.whatsapp.net","server_url":"","apikey":"DCB107595B37-45D5-AFA3-2A2FBA77E8AD"},"webhookUrl":"http://localhost:5678/webhook-test/f256f04a-1382-44eb-b8b3-64b0c51d2a48","executionMode":"test"}}]},"versionId":"465440d3-bdd9-400d-aa27-53ebe5fdcf74","triggerCount":1,"shared":[{"updatedAt":"2025-11-28T01:31:35.715Z","createdAt":"2025-11-28T01:31:35.715Z","role":"workflow:owner","workflowId":"jMgKKjRogYcjJJ3b","projectId":"5OFwUiu2XaJEkX8v"}],"tags":[],"safeFileName":"agente_de_agendamento_yt.json"}