workflows/agente_saas__multi_agendas____trava_de_conteudo.json
{"updatedAt":"2025-12-02T05:27:50.957Z","createdAt":"2025-11-28T01:31:35.715Z","id":"jMgKKjRogYcjJJ3b","name":"Agente SaaS (Multi-Agendas) - TRAVA DE CONTEUDO","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## 1. Identificação (Multi-tenant)\nRecebe a mensagem e consulta no Banco de Dados quem é o dono dessa instância. O banco retorna:\n- Prompt do Sistema\n- ID da Planilha\n- **Lista de Agendas (JSON)**","height":348,"width":685,"color":5},"id":"7649375c-e87c-4bb4-8446-4318b6a29cfb","name":"Nota Identificacao","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4672,-16]},{"parameters":{"content":"## 2. Gestão de Planilha\nUsa o ID da planilha vindo do banco para verificar se o cliente existe e salvar novos contatos.","height":348,"width":782,"color":3},"id":"1f77c551-4d44-4961-b3e1-47768e5567b6","name":"Nota Planilha","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3920,-16]},{"parameters":{"content":"## 3. Roteamento & Áudio\nSepara texto de áudio. Se for áudio, baixa da Evolution (usando a instância dinâmica) e transcreve.","height":451,"width":1133,"color":4},"id":"91585ecd-8f55-4a32-b5a2-a7b0c6448c06","name":"Nota Audio","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3040,-48]},{"parameters":{"content":"## 4. Fila de Mensagens (Redis)\nEvita conflito de mensagens simultâneas.","height":579,"width":2045,"color":2},"id":"7f2b51a8-0e9d-4760-affa-6714eb505d38","name":"Nota Fila","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1856,-96]},{"parameters":{"content":"## 5. Cérebro Multi-Agenda 🧠\nO Prompt recebe a lista de médicos do banco.\n\nA ferramenta **Google Calendar** usa a função `$fromAI` no campo Calendar ID. Isso força a IA a escolher qual e-mail usar baseada na conversa e na lista fornecida.","height":716,"width":1025},"id":"77ecec1a-6dee-44b3-94b8-27917e276c7d","name":"Nota Cerebro","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[288,-128]},{"parameters":{"httpMethod":"POST","path":"f256f04a-1382-44eb-b8b3-64b0c51d2a48","options":{}},"id":"cb214c4d-b2be-4cf5-9ac2-845036695996","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-4624,192],"webhookId":"f256f04a-1382-44eb-b8b3-64b0c51d2a48"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM clientes WHERE instance_name = $1","options":{"queryReplacement":"={{ $('Webhook').item.json.body.instance }}"}},"id":"3154dfe7-8692-4476-8c75-ab6fcf7b7cb2","name":"Busca Cliente no Banco","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-4416,176],"credentials":{"postgres":{"id":"MY2N95aYUWR6kF9X","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"nome","name":"Nome","value":"={{ $('Webhook').item.json.body.data.pushName }}","type":"string"},{"id":"telefone","name":"Telefone","value":"={{\n  (\n    ($('Webhook').item.json.body.data.key.remoteJid && $('Webhook').item.json.body.data.key.remoteJid.includes('@s.whatsapp.net')) ? $('Webhook').item.json.body.data.key.remoteJid :\n    ($('Webhook').item.json.body.data.key.remoteJidAlt && $('Webhook').item.json.body.data.key.remoteJidAlt.includes('@s.whatsapp.net')) ? $('Webhook').item.json.body.data.key.remoteJidAlt :\n    $('Webhook').item.json.body.data.key.participant\n  )\n  .replace(\"@s.whatsapp.net\", \"\")\n  .replace(\"@lid\", \"\")\n  .replace(/^55(\\d{2})(\\d{8})$/, \"55$19$2\")\n}}","type":"string"},{"id":"tipo","name":"tipoMensagem","value":"={{ $('Webhook').item.json.body.data.messageType }}","type":"string"},{"id":"fromMe","name":"fromMe","value":"={{ $('Webhook').item.json.body.data.key.fromMe }}","type":"string"},{"id":"bloqueio","name":"bloquearAgente","value":"=BloquearAgente_{{ $json.Telefone }}","type":"string"},{"id":"msg","name":"Mensagem","value":"={{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"},{"id":"msgPicotada","name":"msgPicotada","value":"=MensagemPicotada_{{ $('Webhook').item.json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"id":"c1c944af-09be-4f56-b2f0-b12f9db1753e","name":"Formatar Dados","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4176,128]},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('Busca Cliente no Banco').item.json.spreadsheet_id }}","mode":"expression"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pacientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16-380BC81KxckZGpYEvlgp0sCG5oTsgE6WCYfmsQS8I/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"telefone","lookupValue":"={{ $json.Telefone }}"}]},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"A:B"}}}},"id":"7d9303da-6df0-479e-a509-3b678c73079d","name":"Ler Planilha","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-3856,64],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"VXGldHC2qtY6Hout","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"exists","leftValue":"={{ $json.telefone }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"445c64b5-a602-4bce-aaeb-2a7966c549c1","name":"Cliente Existe?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3632,64]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('Busca Cliente no Banco').item.json.spreadsheet_id }}","mode":"expression"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pacientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16-380BC81KxckZGpYEvlgp0sCG5oTsgE6WCYfmsQS8I/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"nome":"={{ $json.nome }}","telefone":"={{ $json.telefone }}"},"matchingColumns":[],"schema":[{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"0fe89f5b-33b3-4aa8-83d9-14e98c580cc6","name":"Salvar Novo Cliente","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-3392,176],"credentials":{"googleSheetsOAuth2Api":{"id":"VXGldHC2qtY6Hout","name":"Google Sheets account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Formatar Dados').item.json.tipoMensagem }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Formatar Dados').item.json.tipoMensagem }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"}]},"options":{}},"id":"2feb1cfc-7dc1-4a2e-b834-127075587bf4","name":"Texto ou Audio?","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-3136,80]},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body.instance }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}"},"id":"6a463658-d245-4bcb-82eb-c364eaa781cc","name":"Baixar Audio (Evolution)","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2960,176],"credentials":{"evolutionApi":{"id":"zRiDTyzgjjIp1xJ5","name":"Evolution account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{"fileName":"audio.mp3"}},"id":"7ff75ff5-9747-41bd-b6bf-049d08d1d4a1","name":"Converter Audio","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-2736,176]},{"parameters":{"resource":"audio","modelId":{"__rl":true,"value":"models/gemini-flash-latest","mode":"list","cachedResultName":"models/gemini-flash-latest"},"inputType":"binary","options":{}},"id":"b9aa807e-6398-462b-809e-1c3e1c8287f7","name":"Transcrever (Gemini)","type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-2512,176],"credentials":{"googlePalmApi":{"id":"OWnToAvs0aO5z6W1","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"textoAudio","name":"mensagemAudioemTexto","value":"={{ $json.text || $('Formatar Dados').item.json.Mensagem }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"29a1c5ba-1199-4f74-872c-a293eb1d8851","name":"Salvar Transcricao","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2288,64]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fromMeCheck","leftValue":"={{ $('Formatar Dados').item.json.fromMe }}","rightValue":"{{ true }}","operator":{"type":"string","operation":"equal"}},{"id":"bot_phrase_1","leftValue":"={{ $('Formatar Dados').item.json.Mensagem }}","rightValue":"assistente virtual","operator":{"type":"string","operation":"contains"}},{"id":"bot_phrase_2","leftValue":"={{ $('Formatar Dados').item.json.Mensagem }}","rightValue":"*Nome completo","operator":{"type":"string","operation":"contains"}},{"id":"bot_phrase_3","leftValue":"={{ $('Formatar Dados').item.json.Mensagem }}","rightValue":"1. *","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"id":"15981f90-e6f2-4a49-9fe9-7a60f559e2fd","name":"Sou eu mesmo?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2080,64]},{"parameters":{"operation":"set","key":"={{ $('Formatar Dados').item.json.bloquearAgente }}","value":"true","expire":true},"id":"9d7c0c17-3d6a-4d7f-8349-7b355c2fd7f7","name":"Bloquear Bot","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1792,0],"credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}},{"parameters":{"operation":"keys","keyPattern":"={{ $('Formatar Dados').item.json.bloquearAgente }}"},"id":"a35cccad-387d-4577-ad04-12707e0298e6","name":"Verificar Bloqueio","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1568,112],"credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"isBlocked","leftValue":"={{ $json.BloquearAgente }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"0cc01220-f61e-4627-ab85-5852093ce15f","name":"Bot Bloqueado?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1328,112]},{"parameters":{},"id":"88af8c46-8627-4653-956d-8fc562b218fa","name":"Parar Fluxo","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1120,-48]},{"parameters":{"assignments":{"assignments":[{"id":"unir","name":"mensagemAudioMaisTexto","value":"={{ $('Formatar Dados').item.json.Mensagem }}{{ $('Salvar Transcricao').item.json.mensagemAudioemTexto }}","type":"string"}]},"options":{}},"id":"bd51c750-0331-486f-8984-9c4ca95158b4","name":"Unir Texto/Audio","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1120,192]},{"parameters":{"operation":"push","list":"={{ $('Formatar Dados').item.json.msgPicotada }}","messageData":"={{ $json.mensagemAudioMaisTexto }}","tail":true},"id":"a36906f9-a165-40ab-a112-0798c93d8283","name":"Adicionar na Fila","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-688,192],"credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}},{"parameters":{},"id":"816f2c76-c872-4adc-8980-2f919c2ad3b2","name":"Espera 1s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-464,192],"webhookId":"45086d60-e330-4209-8512-7afeb97e72cf"},{"parameters":{"operation":"get","key":"={{ $('Formatar Dados').item.json.msgPicotada }}","options":{}},"id":"887d211a-ac5f-47a8-91ae-e43722a742ee","name":"Ler Fila Completa","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-240,192],"credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"={{ $('Formatar Dados').item.json.msgPicotada }}"},"id":"fcaedc53-f0ba-4273-8f52-b4c9cee13517","name":"Limpar Fila","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-32,192],"credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"prep","name":"toString","value":"={{ $('Ler Fila Completa').item.json.propertyName.toJsonString() }}","type":"string"}]},"options":{}},"id":"83962a08-e86c-4813-ab97-eb7477e6ef9d","name":"Preparar p/ IA","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,192]},{"parameters":{"modelName":"models/gemini-flash-latest","options":{}},"id":"a4bc520f-a728-4b6a-bcd3-de18c87e8915","name":"Modelo (Gemini)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[720,416],"credentials":{"googlePalmApi":{"id":"OWnToAvs0aO5z6W1","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Busca Cliente no Banco').item.json.instance_name }}_{{ $('Formatar Dados').item.json.Telefone }}"},"id":"abc8b96d-2e9a-4438-9bdc-79b34a46d940","name":"Memoria (Redis)","type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[848,416],"credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}},{"parameters":{"calendar":{"__rl":true,"value":"={{ $fromAI('calendarId', 'O ID (email) do calendario do medico escolhido. Consulte a lista no prompt do sistema.', 'string') }}","mode":"expression"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","useDefaultReminders":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}","additionalFields":{"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `Coloque qual o nome do paciente, a data de nascimento, o telefone dele (busque no RemotId) e o médico responsável da consulta.`, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `Coloque apenas o nome do paciente, o horário de agendamento e o médico que fará a consulta.`, 'string') }}"}},"id":"1156c88e-a912-4c5c-af6d-48812aa4a0fb","name":"Google Calendar Tool","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[992,416],"credentials":{"googleCalendarOAuth2Api":{"id":"AOWDxaL3CheNb2v5","name":"Google Calendar account"}}},{"parameters":{"promptType":"define","text":"={{ $json.toString }}","options":{"systemMessage":"=Data e Hora atual: {{ $now.setZone('America/Campo_Grande').format('DD/MM/YYYY HH:mm') }}\n\n{{ $('Busca Cliente no Banco').item.json.system_prompt }}\n\n[DADOS DO CLIENTE]\nLista de Médicos e suas Agendas:\n{{ $('Busca Cliente no Banco').item.json.calendar_id }}"}},"id":"78682d48-6fcd-4ce9-94c3-a8a45a944cc6","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[816,192]},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Webhook').item.json.body.instance }}","remoteJid":"={{ $('Formatar Dados').item.json.Telefone }}","messageText":"={{ $json.output }}","options_message":{}},"id":"ba50d1da-0cac-49af-9cae-c164485e1482","name":"Enviar Resposta (Evolution)","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1168,192],"credentials":{"evolutionApi":{"id":"zRiDTyzgjjIp1xJ5","name":"Evolution account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"34001cc2-45e4-4fd7-937c-4b587b5753b3","leftValue":"={{ $json.mensagemAudioMaisTexto }}","rightValue":"humano","operator":{"type":"string","operation":"contains"}},{"id":"f20fc6b0-8366-42c1-af49-1c70c680c6e3","leftValue":"={{ $json.mensagemAudioMaisTexto }}","rightValue":"atendente","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-912,192],"id":"cbb16add-ab50-405e-b0d7-b2b39eb2440b","name":"Pediu Humano?\""},{"parameters":{"operation":"delete","key":"MensagemPicotada_556798129001@s.whatsapp.net"},"id":"bfea3c56-bbde-4773-8eed-16f3e2e46970","name":"Limpar Loop (Manual)","type":"n8n-nodes-base.redis","typeVersion":1,"position":[192,-48],"credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}}],"connections":{"Webhook":{"main":[[{"node":"Busca Cliente no Banco","type":"main","index":0}]]},"Busca Cliente no Banco":{"main":[[{"node":"Formatar Dados","type":"main","index":0}]]},"Formatar Dados":{"main":[[{"node":"Ler Planilha","type":"main","index":0}]]},"Ler Planilha":{"main":[[{"node":"Cliente Existe?","type":"main","index":0}]]},"Cliente Existe?":{"main":[[{"node":"Texto ou Audio?","type":"main","index":0}],[{"node":"Salvar Novo Cliente","type":"main","index":0}]]},"Salvar Novo Cliente":{"main":[[{"node":"Texto ou Audio?","type":"main","index":0}]]},"Texto ou Audio?":{"main":[[{"node":"Salvar Transcricao","type":"main","index":0}],[{"node":"Baixar Audio (Evolution)","type":"main","index":0}]]},"Baixar Audio (Evolution)":{"main":[[{"node":"Converter Audio","type":"main","index":0}]]},"Converter Audio":{"main":[[{"node":"Transcrever (Gemini)","type":"main","index":0}]]},"Transcrever (Gemini)":{"main":[[{"node":"Salvar Transcricao","type":"main","index":0}]]},"Salvar Transcricao":{"main":[[{"node":"Sou eu mesmo?","type":"main","index":0}]]},"Sou eu mesmo?":{"main":[[{"node":"Bloquear Bot","type":"main","index":0}],[{"node":"Verificar Bloqueio","type":"main","index":0}]]},"Bloquear Bot":{"main":[[{"node":"Verificar Bloqueio","type":"main","index":0}]]},"Verificar Bloqueio":{"main":[[{"node":"Bot Bloqueado?","type":"main","index":0}]]},"Bot Bloqueado?":{"main":[[{"node":"Parar Fluxo","type":"main","index":0}],[{"node":"Unir Texto/Audio","type":"main","index":0}]]},"Unir Texto/Audio":{"main":[[{"node":"Pediu Humano?\"","type":"main","index":0}]]},"Adicionar na Fila":{"main":[[{"node":"Espera 1s","type":"main","index":0}]]},"Espera 1s":{"main":[[{"node":"Ler Fila Completa","type":"main","index":0}]]},"Ler Fila Completa":{"main":[[{"node":"Limpar Fila","type":"main","index":0}]]},"Limpar Fila":{"main":[[{"node":"Preparar p/ IA","type":"main","index":0}]]},"Preparar p/ IA":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Modelo (Gemini)":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Memoria (Redis)":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Google Calendar Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Enviar Resposta (Evolution)","type":"main","index":0}]]},"Pediu Humano?\"":{"main":[[{"node":"Bloquear Bot","type":"main","index":0}],[{"node":"Adicionar na Fila","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"868ad64e-1eac-408f-b672-31318f9b0972","triggerCount":1,"shared":[{"updatedAt":"2025-11-28T01:31:35.715Z","createdAt":"2025-11-28T01:31:35.715Z","role":"workflow:owner","workflowId":"jMgKKjRogYcjJJ3b","projectId":"5OFwUiu2XaJEkX8v"}],"tags":[],"safeFileName":"agente_saas__multi_agendas____trava_de_conteudo.json"}