workflows/agente_saas__multi_agendas_.json
{"updatedAt":"2025-11-30T03:14:20.871Z","createdAt":"2025-11-28T01:31:35.715Z","id":"jMgKKjRogYcjJJ3b","name":"Agente SaaS (Multi-Agendas)","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## 1. Identificação (Multi-tenant)\nRecebe a mensagem e consulta no Banco de Dados quem é o dono dessa instância. O banco retorna:\n- Prompt do Sistema\n- ID da Planilha\n- **Lista de Agendas (JSON)**","height":348,"width":685,"color":5},"id":"4f58e7f8-4872-4810-84e2-c20a21923d2c","name":"Nota Identificacao","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5664,-176]},{"parameters":{"content":"## 2. Gestão de Planilha\nUsa o ID da planilha vindo do banco para verificar se o cliente existe e salvar novos contatos.","height":348,"width":782,"color":3},"id":"abf8b014-5301-4173-97f9-dc6ac96e4b6d","name":"Nota Planilha","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4912,-176]},{"parameters":{"content":"## 3. Roteamento & Áudio\nSepara texto de áudio. Se for áudio, baixa da Evolution (usando a instância dinâmica) e transcreve.","height":451,"width":1133,"color":4},"id":"dd20496a-ee43-4257-8a05-dcbadb9b2baf","name":"Nota Audio","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4032,-208]},{"parameters":{"content":"## 4. Fila de Mensagens (Redis)\nEvita conflito de mensagens simultâneas.","height":451,"width":2029,"color":2},"id":"6a7a8e05-65ba-4ed6-a47b-54802b4b5c81","name":"Nota Fila","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2832,-256]},{"parameters":{"content":"## 5. Cérebro Multi-Agenda 🧠\nO Prompt recebe a lista de médicos do banco.\n\nA ferramenta **Google Calendar** usa a função `$fromAI` no campo Calendar ID. Isso força a IA a escolher qual e-mail usar baseada na conversa e na lista fornecida.","height":716,"width":1025},"id":"b7f35a8d-c552-4b65-b8cd-ff2ad0fb2b57","name":"Nota Cerebro","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-704,-288]},{"parameters":{"httpMethod":"POST","path":"f256f04a-1382-44eb-b8b3-64b0c51d2a48","options":{}},"id":"c8b5a3b3-20be-4676-b6fa-c463f4f34005","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-5616,32],"webhookId":"f256f04a-1382-44eb-b8b3-64b0c51d2a48"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM clientes WHERE instance_name = $1","options":{"queryReplacement":"={{ $('Webhook').item.json.body.instance }}"}},"id":"472a413c-cfaa-41e7-9e38-aabb12720a5b","name":"Busca Cliente no Banco","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-5408,16],"credentials":{"postgres":{"id":"MY2N95aYUWR6kF9X","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"nome","name":"Nome","value":"={{ $('Webhook').item.json.body.data.pushName }}","type":"string"},{"id":"telefone","name":"Telefone","value":"={{\n  (\n    ($('Webhook').item.json.body.data.key.remoteJid && $('Webhook').item.json.body.data.key.remoteJid.includes('@s.whatsapp.net')) ? $('Webhook').item.json.body.data.key.remoteJid :\n    ($('Webhook').item.json.body.data.key.remoteJidAlt && $('Webhook').item.json.body.data.key.remoteJidAlt.includes('@s.whatsapp.net')) ? $('Webhook').item.json.body.data.key.remoteJidAlt :\n    $('Webhook').item.json.body.data.key.participant\n  )\n  .replace(\"@s.whatsapp.net\", \"\")\n  .replace(\"@lid\", \"\")\n  .replace(/^55(\\d{2})(\\d{8})$/, \"55$19$2\")\n}}","type":"string"},{"id":"tipo","name":"tipoMensagem","value":"={{ $('Webhook').item.json.body.data.messageType }}","type":"string"},{"id":"fromMe","name":"fremMe","value":"={{ $('Webhook').item.json.body.data.key.fromMe }}","type":"string"},{"id":"bloqueio","name":"bloquearAgente","value":"BloquearAgente_{{ ($('Webhook').item.json.body.data.key.remoteJidAlt || $('Webhook').item.json.body.data.key.remoteJid).replace(\"@s.whatsapp.net\", \"\") }}","type":"string"},{"id":"msg","name":"Mensagem","value":"={{ $('Webhook').item.json.body.data.message.conversation }}","type":"string"},{"id":"msgPicotada","name":"msgPicotada","value":"=MensagemPicotada_{{ $('Webhook').item.json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"id":"8d1598d7-e008-467b-ab4a-90cdab9c6541","name":"Formatar Dados","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5168,-32]},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('Busca Cliente no Banco').item.json.spreadsheet_id }}","mode":"expression"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pacientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16-380BC81KxckZGpYEvlgp0sCG5oTsgE6WCYfmsQS8I/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"telefone","lookupValue":"={{ $json.Telefone }}"}]},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"A:B"}}}},"id":"8a2046a7-128c-4129-adae-31120cccdd59","name":"Ler Planilha","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-4848,-96],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"VXGldHC2qtY6Hout","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"exists","leftValue":"={{ $json.telefone }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"dac799c3-91e6-4d37-a95a-dad5b624d906","name":"Cliente Existe?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4624,-96]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('Busca Cliente no Banco').item.json.spreadsheet_id }}","mode":"expression"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"pacientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16-380BC81KxckZGpYEvlgp0sCG5oTsgE6WCYfmsQS8I/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"nome":"={{ $json.nome }}","telefone":"={{ $json.telefone }}"},"matchingColumns":[],"schema":[{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"69747649-59c4-46cb-91ea-268f444b679b","name":"Salvar Novo Cliente","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-4384,16],"credentials":{"googleSheetsOAuth2Api":{"id":"VXGldHC2qtY6Hout","name":"Google Sheets account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Formatar Dados').item.json.tipoMensagem }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Formatar Dados').item.json.tipoMensagem }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"}]},"options":{}},"id":"df55e1a9-ff93-44d4-a70d-b4dec5db6fa3","name":"Texto ou Audio?","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-4128,-80]},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body.instance }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}"},"id":"9525a331-d0b9-44c0-aa58-e40458b470ab","name":"Baixar Audio (Evolution)","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3952,16],"credentials":{"evolutionApi":{"id":"zRiDTyzgjjIp1xJ5","name":"Evolution account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{"fileName":"audio.mp3"}},"id":"1dd98d0f-a9c2-40fb-a14e-eead3bd2e8bf","name":"Converter Audio","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-3728,16]},{"parameters":{"resource":"audio","modelId":{"__rl":true,"value":"models/gemini-flash-latest","mode":"list","cachedResultName":"models/gemini-flash-latest"},"inputType":"binary","options":{}},"id":"e91bf51a-d7a7-43d2-8c5f-d2bb916fc2e8","name":"Transcrever (Gemini)","type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-3504,16],"credentials":{"googlePalmApi":{"id":"OWnToAvs0aO5z6W1","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"textoAudio","name":"mensagemAudioemTexto","value":"={{ $json.text }}","type":"string"}]},"options":{}},"id":"ebf96632-caec-4cf1-b35c-87de331d42cd","name":"Salvar Transcricao","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3280,-96]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fromMeCheck","leftValue":"={{ $('Formatar Dados').item.json.fremMe }}","rightValue":"true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"cee13f08-e225-467e-a29a-32c9c0234af2","name":"Sou eu mesmo?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3072,-96]},{"parameters":{"operation":"set","key":"={{ $('Formatar Dados').item.json.bloquearAgente }}","value":"true","expire":true},"id":"993edf28-0506-4abc-b14f-db33e9681427","name":"Bloquear Bot","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2784,-160],"credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}},{"parameters":{"operation":"keys","keyPattern":"={{ $('Formatar Dados').item.json.bloquearAgente }}"},"id":"0494babd-0f79-439c-8c6c-599abf88d8a5","name":"Verificar Bloqueio","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2560,-48],"credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"isBlocked","leftValue":"={{ $json.BloquearAgente }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"78799afb-b095-45da-9d75-668f449f4f4f","name":"Bot Bloqueado?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2320,-48]},{"parameters":{},"id":"6870035e-157a-4b84-9705-d0aa70ca5945","name":"Parar Fluxo","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2112,-208]},{"parameters":{"assignments":{"assignments":[{"id":"unir","name":"mensagemAudioMaisTexto","value":"={{ $('Formatar Dados').item.json.Mensagem }}{{ $('Salvar Transcricao').item.json.mensagemAudioemTexto }}","type":"string"}]},"options":{}},"id":"d9966fed-3fd6-44c2-8210-7e629e63fb4a","name":"Unir Texto/Audio","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2112,32]},{"parameters":{"operation":"push","list":"={{ $('Formatar Dados').item.json.msgPicotada }}","messageData":"={{ $json.mensagemAudioMaisTexto }}","tail":true},"id":"78df48d6-6c55-44f2-85ae-76e63fae03fe","name":"Adicionar na Fila","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1888,32],"credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}},{"parameters":{},"id":"8e150d91-d421-4877-8836-6dad20a0e88c","name":"Espera 1s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1664,32],"webhookId":"45086d60-e330-4209-8512-7afeb97e72cf"},{"parameters":{"operation":"get","key":"={{ $('Formatar Dados').item.json.msgPicotada }}","options":{}},"id":"f57796b4-fabd-4725-ab57-8cee448a69b0","name":"Ler Fila Completa","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1440,32],"credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"={{ $('Formatar Dados').item.json.msgPicotada }}"},"id":"aa0601ee-1b68-42de-902e-63b2cee11540","name":"Limpar Fila","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1232,32],"credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"prep","name":"toString","value":"={{ $('Ler Fila Completa').item.json.propertyName.toJsonString() }}","type":"string"}]},"options":{}},"id":"b2069599-36f3-4d2e-86c9-d7d91bfaf2fd","name":"Preparar p/ IA","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1008,32]},{"parameters":{"modelName":"models/gemini-flash-latest","options":{}},"id":"02a2b911-e62b-4ead-af96-582e4619db47","name":"Modelo (Gemini)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-480,256],"credentials":{"googlePalmApi":{"id":"OWnToAvs0aO5z6W1","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Busca Cliente no Banco').item.json.instance_name }}_{{ $('Formatar Dados').item.json.Telefone }}-BATATA"},"id":"3ebbfede-a6fb-4d23-b118-61d49530f7bc","name":"Memoria (Redis)","type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[-352,256],"credentials":{"redis":{"id":"6KArPcQkZoXJFByI","name":"Redis account"}}},{"parameters":{"calendar":{"__rl":true,"value":"={{ $fromAI('calendarId', 'O ID (email) do calendario do medico escolhido. Consulte a lista no prompt do sistema.', 'string') }}","mode":"expression"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","useDefaultReminders":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}","additionalFields":{"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `Coloque qual o nome do paciente, a data de nascimento, o telefone dele (busque no RemotId) e o médico responsável da consulta.`, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `Coloque apenas o nome do paciente, o horário de agendamento e o médico que fará a consulta.`, 'string') }}"}},"id":"23192ec7-420f-4c9a-8a1a-a3a5eaa8cafa","name":"Google Calendar Tool","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-208,256],"credentials":{"googleCalendarOAuth2Api":{"id":"AOWDxaL3CheNb2v5","name":"Google Calendar account"}}},{"parameters":{"promptType":"define","text":"={{ $json.toString }}","options":{"systemMessage":"=Data e Hora atual: {{ $now.setZone('America/Campo_Grande').format('DD/MM/YYYY HH:mm') }}\n\n{{ $('Busca Cliente no Banco').item.json.system_prompt }}\n\n[DADOS DO CLIENTE]\nLista de Médicos e suas Agendas:\n{{ $('Busca Cliente no Banco').item.json.calendar_id }}"}},"id":"ee199dd7-1c7c-453f-8a30-0dd86b569a23","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-384,32]},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Webhook').item.json.body.instance }}","remoteJid":"={{ $('Formatar Dados').item.json.Telefone }}","messageText":"={{ $json.output }}","options_message":{}},"id":"12b569ee-5578-4a10-91d2-3c6a33e18abe","name":"Enviar Resposta (Evolution)","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-32,32],"credentials":{"evolutionApi":{"id":"zRiDTyzgjjIp1xJ5","name":"Evolution account"}}}],"connections":{"Webhook":{"main":[[{"node":"Busca Cliente no Banco","type":"main","index":0}]]},"Busca Cliente no Banco":{"main":[[{"node":"Formatar Dados","type":"main","index":0}]]},"Formatar Dados":{"main":[[{"node":"Ler Planilha","type":"main","index":0}]]},"Ler Planilha":{"main":[[{"node":"Cliente Existe?","type":"main","index":0}]]},"Cliente Existe?":{"main":[[{"node":"Texto ou Audio?","type":"main","index":0}],[{"node":"Salvar Novo Cliente","type":"main","index":0}]]},"Salvar Novo Cliente":{"main":[[{"node":"Texto ou Audio?","type":"main","index":0}]]},"Texto ou Audio?":{"main":[[{"node":"Salvar Transcricao","type":"main","index":0}],[{"node":"Baixar Audio (Evolution)","type":"main","index":0}]]},"Baixar Audio (Evolution)":{"main":[[{"node":"Converter Audio","type":"main","index":0}]]},"Converter Audio":{"main":[[{"node":"Transcrever (Gemini)","type":"main","index":0}]]},"Transcrever (Gemini)":{"main":[[{"node":"Salvar Transcricao","type":"main","index":0}]]},"Salvar Transcricao":{"main":[[{"node":"Sou eu mesmo?","type":"main","index":0}]]},"Sou eu mesmo?":{"main":[[{"node":"Bloquear Bot","type":"main","index":0}],[{"node":"Verificar Bloqueio","type":"main","index":0}]]},"Bloquear Bot":{"main":[[{"node":"Verificar Bloqueio","type":"main","index":0}]]},"Verificar Bloqueio":{"main":[[{"node":"Bot Bloqueado?","type":"main","index":0}]]},"Bot Bloqueado?":{"main":[[{"node":"Parar Fluxo","type":"main","index":0}],[{"node":"Unir Texto/Audio","type":"main","index":0}]]},"Unir Texto/Audio":{"main":[[{"node":"Adicionar na Fila","type":"main","index":0}]]},"Adicionar na Fila":{"main":[[{"node":"Espera 1s","type":"main","index":0}]]},"Espera 1s":{"main":[[{"node":"Ler Fila Completa","type":"main","index":0}]]},"Ler Fila Completa":{"main":[[{"node":"Limpar Fila","type":"main","index":0}]]},"Limpar Fila":{"main":[[{"node":"Preparar p/ IA","type":"main","index":0}]]},"Preparar p/ IA":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Modelo (Gemini)":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Memoria (Redis)":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Google Calendar Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Enviar Resposta (Evolution)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fcce5a41-adc1-45f2-beaa-6638312d0fd8","triggerCount":1,"shared":[{"updatedAt":"2025-11-28T01:31:35.715Z","createdAt":"2025-11-28T01:31:35.715Z","role":"workflow:owner","workflowId":"jMgKKjRogYcjJJ3b","projectId":"5OFwUiu2XaJEkX8v"}],"tags":[],"safeFileName":"agente_saas__multi_agendas_.json"}